[2016-07-27 15:48] rrenfrow86 opened #5 "Task 1.1: 1:1 mapping of filesystem REST endpoints"
1:1 mapping of filesystem REST endpoints to client methods

[2016-07-27 15:51] rrenfrow86 opened #6 "Task 1.2: Unit tests and CI tests for core DLS filesystem client"

[2016-07-29 13:06] rrenfrow86 opened #8 "Task 2.1: Multi-part upload/download support for single files"
Basically, multi-part upload/download support for single files, with flexibility for the user to determine how performant/parallel the upload/download is, with smart defaults that will take advantage of their available network capacity.

[2016-07-29 13:07] rrenfrow86 opened #9 "Task 2.2: Unit tests and CI tests for multi-part upload/download for single files"

[2016-07-29 13:11] rrenfrow86 opened #10 "Task 3.1: Extend the single file upload/download to allow for folder and recursive folder upload/download"

[2016-07-29 13:11] rrenfrow86 opened #11 "Task 3.2: Unit tests and CI tests for recursive support for performant upload/download"

[2016-07-29 13:12] rrenfrow86 opened #12 "Task 3.3: Addition of performance tests for several use cases"
Addition of performance tests to measure performance for large files, folders full of small and mixed file sizes. Once stable, we will integrate these tests into our existing performance testing and reporting service.

[2016-07-29 13:13] rrenfrow86 opened #13 "Task 4.1: Stabilize work of milestones 1-3 and confirm code coverage"

[2016-07-29 13:14] rrenfrow86 opened #14 "Task 4.2: Integrate custom functionality with the existing Azure SDK for Python"
This includes proper packaging and naming, ensure inclusion of any common dependencies for things like error handling (ideally this is done in an ongoing basis during development in milestone one, but just in case anything is missed it is fixed here).

[2016-07-29 13:17] rrenfrow86 opened #15 "Task 4.3: Package publishing"
Get the functionality ready for package publishing, which includes ensuring our getting started documentation, samples and readthedocs code documentation is ready and has been reviewed.

[2016-07-29 13:19] rrenfrow86 opened #16 "Task 5.1: Convenience layer for auto-generated clients"
This is much lower priority than the previous four milestones, but if we have time it would be good to go over the auto-generated client functionality for our other four clients and see if there are any good quality of life improvements we can make for users.

[2016-07-29 15:12] martindurant opened #17 "glob strings in multi up/downloader"
The use of "*" breaks relpath in up/downloader setup, if it is anywhere but in the final path element.

[2016-08-01 16:59] martindurant opened #19 "urls are hard-coded"
Should allow option to set the REST base URLs of the various user-facing interfaces.

[2016-08-01 17:24] martindurant opened #20 "SetPermissions and SetOwner not implemented"
Re #5, these two calls remain inaccessible. They should be exposed at the REST and filesystem level.
NB: in the preview API, only the root level can be changed.

[2016-08-02 17:23] martindurant opened #21 "Licensing"
Correct license notice and headers for all source files needed.

[2016-08-02 20:52] martindurant opened #22 "Need to implement block size restrictions"
a) when writing, each REST call should pass data that is up to 4MB and ends on a delimiter (e.g., b'\n'), if given.
b) when splitting a file for upload, boundaries should be on a delimiter, if given - so need to scan files and find delimiters near the split boundaries.

[2016-08-02 23:01] martindurant opened #25 "Documentation"
Placeholder: no part of this project can be considered complete without adequate documentation, both as generated from docstrings, and explicit explanations of motivation, typical use etc.

[2016-08-03 21:29] begoldsm opened #30 "Azure Python strong recommendation: match the naming conventions in os and os.path"
@martindurant I just got some feedback from the Azure Python SDK team. They are pushing for our filesystem interface to match the naming conventions and styles that exist in os and os.path.
One other recommendation is a slight change for descriptive naming:
ls -> listdir or scandir and stat for a single item
cat and head -> readlines

I think these renames are also part of the OS module and just g

[2016-08-03 21:36] #20 closed, assigned to jbcrail, martindurant

[2016-08-03 21:36] #19 closed, assigned to jbcrail, martindurant

[2016-08-04 18:37] #21 closed, assigned to jbcrail, martindurant

[2016-08-04 20:39] #22 closed, assigned to jbcrail, martindurant

[2016-08-04 20:54] #30 closed, assigned to martindurant

[2016-08-05 17:00] lmazuel opened #33 "General view of the SDK choices"
It will be very helpful for us to have a big picture of the choice you make for the SDK architecture. Clearly you have experience on big data services and it's amazing how the project advance. But i would like a like step back to better understand how amazing it is :)

Example:
- What is `dask` and why do you it's important to follow this framework? Why do you think the future adlfs customers, whi

[2016-08-06 02:43] jbcrail opened #34 "Block size variable not set for non-delimited files"
When opening non-delimited files in either `wb` or `ab` mode, the `blocksize` instance variable isn't set and causes some tests to fail with this error:

[code]

[2016-08-06 06:55] #34 closed, assigned to nobody

[2016-08-16 21:45] #17 closed

[2016-08-18 17:04] martindurant opened #39 "Persisting of up/downloader states"
Should decide on cadence and method of saving object state, not just on ^C, and CLI to list/restart objects.

Part of #13

[2016-08-30 23:22] begoldsm opened #42 "Uploaded temp files should be 256mb in size"
The chunking process needs to be two tiered:
1. At most 4mb of data is uploaded in a single http request
2. The intermediate files should be as close to 256mb as possible.

This is important for a couple of reasons:
1. 4mb upload chunk size is the only way to guarantee atomicity of the upload operation for a single request. For example, if you upload 16mb in a single request and it fails, on retry

[2016-08-30 23:37] begoldsm opened #43 "Lots of memory errors when attempting to upload/download large files"
When attempting to upload or download a large file (such as a 10GB file) I am constantly running into MemoryErrors. Looking at how much memory Python is using during this time I see that it is right around 2GB. This seems like a lot of memory taken to process a 10GB file. Additionally, 2GB of memory use shouldn't be enough to cause these failures in the python runtime (although I imagine that is j

[2016-08-31 15:59] jbcrail opened #45 "Client credential authentication"
We currently support getting a token via a username/password combo. But we need to also support authentication via client credentials.

[2016-08-31 17:07] begoldsm opened #46 "Clients need to handle refresh token if supplied during client construction"
I mentioned this in our slack conversation last week, adding it here to keep it tracked.
We need to ensure that we maintain the same level of support and functionality that exist in the AutoRest clients. In those clients there is a base class called ServiceClient which is ultimately responsible for all http requests being sent and received. This class has logic that handles token expiration and at

[2016-09-01 23:31] begoldsm opened #47 "More flexibility with trace logging"
Currently we see a lot of general debug logging when executing, especially on large files/folders. Ideally, it would be good to be able to turn this on/off and have the ability to tweak verbosity (from debug all the way to just error cases). I am not sure if this is possible, but it would also be good to be able to optionally print out the request/response in a nice format. For example, PowerShell

[2016-09-01 23:34] begoldsm opened #48 "Uploader fails if the full path to the target file doesn't exist"
Creation of a file in ADLS does not require the underlying path to exist. The create call itself will create the entire path or throw if it can't. The recommendation is to remove this requirement and fail only if the target file itself can't be created (which should still be tested for at the very beginning).

[2016-09-01 23:39] begoldsm opened #49 "Improvement Recomendation: More unique "tmp" folder per file/folder upload"
This is a minor optimization which helps with the finalization step for each file. There is an option within the concatenate call: op=MSCONCAT&deleteSourceDirectory=true.

This call, instead of deleting each file individually, deletes the entire folder instead. This can be used if the only contents in the folder are just the contents for the file being concatenated and it drastically increases the

[2016-09-01 23:42] begoldsm commented on #49
The specific syntax for an msconcat body is a little strange, though, so be warned :).
Content-Type:application\octet-stream

request body must be a stream that, prior to becoming a byte stream, looked like this:
sources=/this/is/path/1.txt,/this/is/path/2.txt,.../this/is/path/n.txt

[2016-09-02 01:06] begoldsm opened #50 "Cancel logic hangs on large folders"
On a folder containing 100,000 1mb files if I issue a cancel request the operation still hasn't returned control back to me after about 30 minutes (and it appears to still be uploading, very slowly).

[2016-09-06 18:50] begoldsm opened #53 "ADLUploader defaults to overwrite if file exists"
The operation should fail and the user should be told that they must explicitly use a force flag to overwrite an existing file when using ADLUploader. Today I can re-run the same upload command to the same target location and it won't complain.

[2016-09-06 19:02] begoldsm opened #54 "Lower Pri: Large folder upload/download has a large startup cost in time"
When uploading or downloading a very large directory, we see a large startup cost where the client is getting all the information it needs to begin (or resume) the operation. This could benefit from some parallelization or optimizations to reduce the amount of time needed to setup the operation.

The current timing is about 30 seconds for a folder with 10,000 1mb files in a nested structure.

[2016-09-07 15:19] #42 closed

[2016-09-07 15:19] #43 closed

[2016-09-07 17:11] #25 closed

[2016-09-07 17:40] matt1883 commented on #14
Recommended package name:  azure-datalake-store

[2016-09-07 20:54] begoldsm opened #56 "Upload 100GB file on machine with 112GB of memory results in OOM error and cascading errors"
When I attempt to upload a 100GB file with 128 threads on a vm with 112GB of memory I get an out of memory error, followed by a large number of IO errors on closed streams.

When an error is encountered it should not immediately result in cascading errors if possible, and retry should be considered (although with OOM errors that is probably not practical).

Below is a partial stack trace. The IO e

[2016-09-08 17:30] martindurant commented on #54
It turns out that `os.scandir` (and it's backport package scandir for py2) is much more efficient at getting lists of files and file sizes/attributes than walk and stat, especially on windows. https://github.com/benhoyt/scandir

[2016-09-08 18:15] begoldsm opened #57 "ADLDownloader appears to be downloading data, doesn't write it to file, results in 0 byte file"
For any files I download (from 1mb to 100gb) I am receiving 0 byte destination files. This is true for both "nulled" files that are basically empty as well as files with randomly generated text. I have not tried to repro this on Unix machines, but it consistently repros on windows.

[2016-09-08 18:36] begoldsm opened #58 "ADLUploader can silently fail on a segment, resulting in perceived success but no target file created"
More logging, segment validation and feedback to the caller is required to indicate the health/status of uploads. For example, for a 100GB file we are seeing execution seem to succeed (no errors reported and the final message is output). It is important that even with the least noisy level of logging that we surface valid status messages to the caller, even if it is just a true/false message indic

[2016-09-08 18:38] begoldsm commented on #6
Closing this issue since it is resolved and merged.

[2016-09-08 18:38] #6 closed

[2016-09-08 18:40] begoldsm commented on #5
@martindurant Sorry for the delay here. setpermissions and setowner are now supported in our production cluster so they are testable. I am closing this work item, though since everything is implemented and I will open a new issue for the current milestone to add some tests for these APIs.

[2016-09-08 18:40] #5 closed

[2016-09-08 18:47] begoldsm opened #59 "SetOwner and SetPermission are now supported, need tests"
Please add tests and recordings for these two APIs now that they are supported

[2016-09-08 18:48] begoldsm commented on #9
Closing as this is done, thanks!

[2016-09-08 18:48] #9 closed

[2016-09-08 18:48] begoldsm commented on #8
Closing as the core work is done. Any bugs found while testing will be added to M4

[2016-09-08 18:48] #8 closed

[2016-09-08 18:51] begoldsm commented on #12
@martindurant @jbcrail have some performance tests like these been run on your side? I would like to see if we can get some of the below cases integrated in some way (probably not in our recording framework, though):
Upload/Download 100GB file
Upload/Download 10,000 1MB files in a nested directory structure (total of 10GB)

[2016-09-08 18:51] begoldsm commented on #11
Closing as this is done.

[2016-09-08 18:51] #11 closed

[2016-09-08 18:52] begoldsm commented on #10
Closing as the core work is done. Bugs will be opened in M4

[2016-09-08 18:52] #10 closed

[2016-09-08 19:04] begoldsm commented on #33
@lmazuel @martindurant @mcg1969 I am going to close out this issue based on the conversation that we have above. I think that, in terms of usability of the surface area we can have @matt1883 work with our usability teams. In terms of maintainability and general code health, I encourage @lmazuel and @mcg1969 as well as the rest of our internal (and external!) python partners to make recommendations

[2016-09-08 19:04] #33 closed

[2016-09-08 19:13] begoldsm opened #60 "Optimization for APPEND, CREATE and OPEN"
To avoid redirects and extra web calls, the following query parameters should be added to the APPEND, CREATE and OPEN operations:
APPEND: append=true
CREATE: write=true
OPEN: read=true

[2016-09-08 19:24] begoldsm opened #61 "Replace CONCAT with MSCONCAT"
There is a design limitation in concat due to passing all of the paths in on the URI which can cause failure when concatenating a large number of files. Until this is fixed in a new WEBHDFS protocol, please use the MSCONCAT op code and pass in the paths in the body of the request as an application/octet-stream using the following format for the stream in the body:
sources=<path1>,<path2>,<path3>..

[2016-09-09 12:42] martindurant commented on #12
No chance on my connection - how about your's, Joseph?
Perhaps we need an ec2 test machine for this (network banbwidth is typically 100MB/s to, for example, s3)

[2016-09-09 15:50] jbcrail commented on #12
My connection is adequate, but double-digit GBs would be too slow for me. I'm fine with any solution that is repeatable and relatively easy to setup for benchmarks.

[2016-09-09 15:51] mcg1969 commented on #12
I've got a gigabit connection at home... No guarantee that there wouldn't be a bottleneck in between, but perhaps I could test some things.

[2016-09-09 17:22] begoldsm commented on #12
@mcg1969 @jbcrail @martindurant I can also give you all access to the D14 machine we have been using for perf testing on our side, which gives a 10gigabit nic, SSD and 112GB of memory, which will make the process of building and testing the benchmark script/tool much easier. I think the important thing is that we give an examplar tool that anyone can run on their "good" machine to showcase the per

[2016-09-13 17:18] #60 closed

[2016-09-13 17:18] #61 closed

[2016-09-14 22:56] begoldsm opened #65 "PRI 0: Uploading 100GB file results in 200GB on the server"
Using the multi-part uploader is not resulting in valid files being uploaded to the server. On completion of a 100GB file upload, checking the status of that file reports back a file that is 200GB.

It is critical that the multi-part upload and download logic have self-checks that confirm they have uploaded/download as much data as they are supposed to, and to report problems/failures if there is

[2016-09-15 01:22] begoldsm opened #66 "PRI 0: Use the Offset parameter in append to ensure we are always appending at the offset we expect"
The append API allows for a query parameter called offset, which allows you to specify where you think the end of the file is to append data to. This is very useful for us, since it allows us to submit an append call where we "think" the file should currently be. If data has already been uploaded at that location, you will receive a 400 error with a BadOffsetException, which you can catch. This wi

[2016-09-15 01:37] begoldsm opened #67 "PRI 0: Downloading 200GB file results in 129GB file on client"
After attempting to download a file that is 200GB on the server, the downloader finished with no error and the resulting file on the client was only 129 GB.

[2016-09-16 01:45] begoldsm opened #69 "Pri 0: Uploading 50,000 1mb files resulting in a memory exception"
The following exception is thrown when attempting to upload 50,000 1MB files. Note that it keeps going on like this for a very long time:

Uploading 50000 1MB files...
Traceback (most recent call last):
  File "C:\tools\sampleUploadDownload.py", line 36, in <module>
    multithread.ADLUploader(adl, lpath='D:\\ingress\\largeFolder', rpath=remoteFolderName + '/50000files', nthreads=64)
# change the

[2016-09-20 01:32] begoldsm opened #71 "Pri0: Upload and download of 100GB file fails with no error, debug logs do not indicate what the error is either."
Attached is the debug output (below). This blocks my ability to run upload and download tests.
Additionally, it is not, by default, creating the tmp files closer to the target file. It is instead still creating them inside of /tmp, which makes it difficult for me to know which segments are associated with which file upload attempt.

[outlogUpload.txt](https://github.com/Azure/azure-data-lake-store

[2016-09-20 16:57] begoldsm opened #72 "Can no longer pass the store name or url_suffix into AzureDLFileSystem. Only option is env variable"
In the comments it indicates there is a param called "store". In reality, this is the constructor definition for AzureDLFileSystem (including the comments of what the args are claimed to be as well):

**store : str ("")**
        Store name to connect to
    token : dict
        When setting up a new connection, this contains the authorization
        credentials (see `lib.auth()`).
    **url_suff

[2016-09-20 17:13] martindurant commented on #72
Ah, just a name mis-match: it should be `store_name`. Everything in `kwargs` is passed to the REST instance, of which `store_name` and `url_suffix` construct the URL base, and others are passed to `auth()`.

[2016-09-20 17:14] begoldsm commented on #72
@martindurant gotcha, so its just a doc bug. We should probably include all of the important names in the documentation directly, and then continue to have the existing kwargs doc for key/value pairs.

[2016-09-20 18:18] jbcrail opened #73 "Place temporary files under destination path"
As mentioned by Ben, we should place uploaded chunks in a temporary directory under the destination path. The proposed temporary directory/files are in keeping with other SDK implementations.

If the destination file is `/user/deeperFolder/bar.txt`, then the temporary directory will be:

[code]

Within the temporary directory, the temporary chunk filenames will be:

[code]

where `int` is the chun

[2016-09-20 22:47] #45 closed

[2016-09-20 22:47] #46 closed

[2016-09-21 02:40] #72 closed

[2016-09-21 14:47] martindurant commented on #66
Would you mind providing more information on where to sue this? Currently we only ever append to the end of a file. Are you thinking of restarting uploads of files that were only partially uploaded last time, to skip sections? Now we would create the file from scratch - but this is no slower than checking each 4MB chunk for the error above.

[2016-09-21 22:19] begoldsm commented on #66
@martindurant This is a robustness and resiliency scenario. You can only ever append at the end of a file, however if we have retry logic in our append requests, we could end up appending duplicate data, since the server doesn't care if you append the same data to the end of the file twice. By explicitly telling the server where you think the end of the file is, you can prevent this. The server wi

[2016-09-21 22:22] begoldsm commented on #71
This issue was closed with the merged PR. I will open new issues as they arise to track current problems.

[2016-09-21 22:22] #71 closed

[2016-09-21 22:23] begoldsm commented on #67
@jbcrail this is still an issue. I just tried this with a 50GB file and I only got 8.79GB back (although the download took as long as I would expect a 50GB download to take).

[2016-09-21 22:35] begoldsm opened #77 "PRI0: Upload fails but reports success"
Upload of a 50gb file is failing, even though no error is returned to the caller. This bug has two issues:
1. There is not enough validation taking place in the upload to properly report success/failure to the caller with confidence
2. Upload is failing consistently, which needs to be addressed and validation for it must be included in future runs.

With debug logs active I see that a lot of trans

[2016-09-23 17:32] jbcrail opened #78 "Meta: Test scenarios"
**Cancel upload/download**
- [ ] Validate that the final file does not exist
- [ ] Resume the upload/download
- [ ] Validate that it completes successfully

**Validate retry logic when a basic REST call fails for uploader/downloader**
- [x] Mock a failure in append/create. Validate the operation retries and eventually fails
- [ ] Resume the upload/download with mocked failure remove, verify it suc

[2016-09-26 15:38] martindurant commented on #78
"Verify that if the user passes in this boundary splitting and the data is >4MB when a boundary is found, that we throw (since we cannot support records that are longer than 4mb)." -> should not be an exception - we instead write a delimited block < 4MB, and then another block with the rest.
The only problem would be if there is no delimiter at all within > 4MB of data; in this case the block must

[2016-09-28 16:05] jbcrail commented on #53
1. In the case that the remote path is a directory, should we enumerate through the contained files, test for existence, and throw an error as appropriate? Or should we check if the remote directory exists and throw an error as appropriate?

1. Should ADLDownloader have a similar overwrite check?

[2016-09-28 18:14] begoldsm commented on #53
@jbcrail for now lets do the simplest case. If the folder to upload to exists and is not empty, simply fail indicating that the caller should pass in `force` or `overwrite` or whatever we want to call it. This should hold true for upload and download.

[2016-09-28 22:38] begoldsm commented on #67
This has been resolved and I am now getting full files back or errors when it fails.

[2016-09-28 22:38] #67 closed

[2016-09-28 23:04] begoldsm commented on #66
@jbcrail I think this is partially resolved. We do now append at the specific offset, but I don't believe there is logic to catch an append that has already succeeded on the server but was retried (either due to a false failure or a transient network drop for the response). The result of the retry will be a `BadOffsetException` that looks like the below with a 400 response:

```{"RemoteException":

[2016-09-28 23:06] begoldsm commented on #65
Verified we are now uploading consistent data.

[2016-09-28 23:06] #65 closed

[2016-09-28 23:22] begoldsm commented on #58
This is now fixed and we see much more logging by default for errors, which is great. Thanks you @jbcrail!

[2016-09-28 23:22] #58 closed

[2016-09-28 23:23] begoldsm commented on #56
This issue is resolved by one of the following:
1. using <= 12 threads.
2. using the 64bit version of python (which can scale threads until you are actually out of memory).

[2016-09-28 23:23] #56 closed

[2016-09-28 23:23] begoldsm commented on #57
Verified. We are now properly downloading data.

[2016-09-28 23:23] #57 closed

[2016-09-28 23:27] begoldsm commented on #16
I am closing this milestone as not needed. Auto-Generated clients will use the CLI as their convenience layer which will be tracked separately.

[2016-09-28 23:27] #16 closed

[2016-09-28 23:30] begoldsm commented on #15
@rrenfrow86 I don't think we have gotten to the point where packages are ready to be published yet (since naming isn't quite right). I am re-activating this task as in-progress for now.
Package name should be: `azure-datalake-store`

[2016-09-29 00:19] begoldsm commented on #15
@jbcrail can you confirm the package naming and point me to a PR that has it if this has already been done?

[2016-09-29 00:21] begoldsm commented on #14
I am closing this since we have a separate task for the package explicitly: #15

[2016-09-29 00:21] #14 closed

[2016-09-29 00:22] begoldsm commented on #49
This is in progress in PR #81

[2016-09-29 00:23] begoldsm commented on #59
@jbcrail can you make sure we get tests and recordings for these two APIs?

[2016-09-29 00:23] begoldsm commented on #54
@martindurant I believe you fixed this, right? Can you point to the PR that resolved this issue?

[2016-09-29 00:24] begoldsm commented on #50
@jbcrail I believe you fixed this right? Can you point to the PR that has reduced this cancel cost for large folders?

[2016-09-29 00:24] begoldsm commented on #77
This is now fixed and we are seeing sufficient logging to show what is going on.

[2016-09-29 00:24] #77 closed

[2016-09-29 02:42] jbcrail commented on #15
@begoldsm We still use `adlfs` as the name of the package and module. It's easy to rename the package to `azure-datalake-store`, but what is the module naming convention? Possible examples when importing:

- `import adlfs`
- `import adls`
- `import azure_datalake_store`
- `import azure.datalake.store` (other Azure projects seem to follow this)

[2016-09-29 02:49] jbcrail commented on #50
#64 added a shutdown event that every thread looks for. If Ctrl-C is pressed or `ADL[Down|Up]loader.client.shutdown()` is called, then the event is triggered and threads will shutdown at the earliest convenience.

[2016-09-29 03:17] jbcrail commented on #59
@begoldsm It looks like we have coverage and recordings for SetPermission (`adlfs.chmod`), but we are missing tests for SetOwner (`adlfs.chown`). I'll work on SetOwner.

[2016-09-29 13:11] martindurant commented on #54
No, this was not yet addressed. As above, I have a potential solution, but scandir for python2 requires compilation, so we cannot require it (it can be got via conda, of course). At the risk of complicating the logic, we could use scandir *if* present.

[2016-09-29 13:52] rrenfrow86 commented on #12
@begoldsm - I believe we can call this 'done' for our purposes - I'm sure there will be additional performance tests your perf team will want to see but without those now there won't be time to add any more. They could become new issues to track. Also the benchmarking script has been developed and in use by both sides.

[2016-09-29 13:54] rrenfrow86 commented on #78
@jbcrail - do you have updates to this issue?

[2016-09-29 13:58] rrenfrow86 commented on #50
@begoldsm - please confirm this is indeed fixed - PR has been merged.

[2016-09-29 14:36] rrenfrow86 commented on #39
The uploader/downloader is saved on every status change.

[2016-09-29 14:37] rrenfrow86 commented on #47
Update: logging is now controlled by the default python logger; we don’t have a lot of verbosity options (DEBUG produces a lot, INFO almost nothing).

[2016-09-29 14:39] rrenfrow86 commented on #48
Believe this is no longer an issue - @begoldsm please confirm.

[2016-09-29 16:03] jbcrail commented on #78
@rrenfrow86 I checked off those cases in which we've already addressed them or will soon address them via a pending PR.

[2016-09-29 16:42] rrenfrow86 commented on #49
@begoldsm - this is a duplicate of #73 - recommend closing this issue.

[2016-09-29 16:44] begoldsm commented on #49
Agreed. closing this out as a duplicate.

[2016-09-29 16:44] #49 closed

[2016-09-29 16:52] begoldsm commented on #50
@jbcrail it looks like the fix has created a slightly different issue. If a user passes in many cancel requests (for example, hitting ctrl + c a number of times) then the interrupt gets interrupted, resulting in a permanent hang. I was able to reproduce this using the benchmark script that we are using by:
1. run the script and wait ~20 seconds for it to spin up all the threads
2. hit ctrl + c, an

[2016-09-29 16:55] begoldsm commented on #50
@jbcrail note that issuing a single ctrl +c (with no additional ones) does terminate the process rather quickly, its just the case where further ctrl + c calls cause problems.

[2016-09-29 17:00] begoldsm commented on #47
@rrenfrow86 as long as debug logging gives us:
1. the request id of the request
2. the request id of the response
3. the payload of the response in the event of failure.

Then that should be ok.

[2016-09-29 17:08] begoldsm commented on #12
I agree. The benchmark script satisfies this issue for adhoc testing. We do need separate tests that validate  the core functionality of the uploader/downloader (unit tests) that run during CI, though, as we are relying on those tests to quickly detect any breaking changes in the core logic. I will open a new issue for that.

[2016-09-29 17:08] #12 closed

[2016-09-29 17:11] martindurant commented on #12
We do have unit-tests for the up/downloader, which run on CI using VCR, in files tests/test_multithread.py, tests/test_transfer.py

[2016-09-29 17:13] begoldsm commented on #78
@jbcrail and @martindurant if the user requests a delimited block, and there are no delimiters at all within a 4mb chunk you **must** throw. Appending the data with a warning is dangerous here, as the user may not ever see the warning and, down the road in the system, their data will be corrupt when running jobs, which will result in failures much later in the pipeline. That in turn will result in

[2016-09-29 17:14] begoldsm commented on #12
Yup, and there is an open issue already tracking additional validation tests that @jbcrail opened (https://github.com/Azure/azure-data-lake-store-python/issues/78)

[2016-09-29 17:24] begoldsm commented on #54
@martindurant I would caution against complicating the logic at this point, and the time spent up front is not high enough to warrant this (as indicated with the lower priority for this issue). We can keep this open for the future and consider that improvement down the road, if necessary.

[2016-09-29 17:25] begoldsm commented on #59
Closing this issue as the SetOwner tests are now checked in. thanks @jbcrail!

[2016-09-29 17:25] #59 closed

[2016-09-29 17:29] begoldsm commented on #15
@jbcrail we should use the import pattern that the other azure projects use, which would be the last one in your list as you mentioned.

[2016-09-29 18:51] rrenfrow86 commented on #47
@jbcrail - can you answer if the above comment is true?

[2016-09-29 19:11] jbcrail commented on #47
@rrenfrow86 We don't log that info at this time.

[2016-09-29 19:17] begoldsm commented on #47
@jbcrail do we include the following in the header for all the requests we send?
x-ms-client-request-id: <some GUID, like: 4da72a13-729f-47b3-8dfd-65768d9040ea>

[2016-09-29 19:55] jbcrail commented on #47
@begoldsm No, is this required for every REST call?

[2016-09-29 21:13] begoldsm commented on #47
@jbcrail yes, in order to be consistent with the rest of Azure. This also enables us to properly debug issues with specific calls into the service.

[2016-09-29 22:14] #73 closed

[2016-09-29 22:24] jbcrail commented on #47
@begoldsm Do other SDKs generate a random GUID/UUID for each request call?

[2016-09-30 13:24] martindurant commented on #78
OK; the appropriate place is
[code]
@jbcrail or I will change this to an exception (ValueError) with a summary of your words above, and sneak this into one of the PRs.

[2016-09-30 18:02] begoldsm commented on #69
This is resolved through the use of python x64 or reducing the thread count on 32bit python.

[2016-09-30 18:02] #69 closed

[2016-09-30 18:28] begoldsm commented on #47
@jbcrail yes, here is what it looks like in the generated Azure clients:
[code]

[2016-09-30 18:29] begoldsm commented on #47
@jbcrail I couldn't bold inside of the code block, but you can see the '**' wrapped sections where the x-ms-client-request-id is set and then passed in to the request.

[2016-09-30 18:30] begoldsm commented on #39
This is correct, thanks!

[2016-09-30 18:30] #39 closed

[2016-09-30 18:30] begoldsm commented on #48
Verified, thank you!

[2016-09-30 18:30] #48 closed

[2016-09-30 18:37] begoldsm commented on #53
Spoke with @jbcrail about the path's being inverted when a FileExistsError is raised. @martindurant will fix it as part of his current PR. I will re-validate after that and then close out this issue.

[2016-10-03 21:29] begoldsm opened #91 "Client Usability: Error messages must be actionable and include trace IDs from the server"
When the user receives an error from the client it must be actionable. This means it either
1. Tells the user what they did wrong and how they can correct (FileNotFound, AccessDenied, Conflict, etc).
2. Gives the user enough information to effectively escalate to service engineers (Full error responses from the service, x-ms-client-request-id, traceId, etc.).

Right now, in the parallel upload/dow

[2016-10-06 07:53] avaranovich opened #95 "AccessControlException after file upload"
I am trying to upload the content of the local file into a DataLake store, with the following simple snippet:

[code]

I can see the file is a data explorer, with a non-zero size, however, once I click on the file, I get

[code]

I can oly delete the file from web browser. My user is the owner of the root datalake store folder.

[2016-10-06 09:23] avaranovich opened #96 "Auth with user name and password does not work"
`token = lib.auth(tenant_id, username, password)`

gives

`adal.adal_error.AdalError: Get Token request returned http error: 400 and server response: {"error":"invalid_request","error_description":"AADSTS90014: The request body must contain the following parameter: 'client_id'.\r\nTrace ID: 899e028b-469f-4dba-ab97-518e5a3e42e5\r\nCorrelation ID: 24bd2ce3-b084-40ab-9e8f-46f5a54ac501\r\nTimestamp: 2

[2016-10-06 16:53] #91 closed

[2016-10-06 16:57] begoldsm commented on #96
@jbcrail @martindurant this appears to be an issue with how we are defaulting the client ID. I am going to make a small change to properly default the client ID, which should resolve this issue.

@avaranovich to work around this please pass in the following client_id during authentication: 1950a258-227b-4e31-a9cf-717495945fc2

[2016-10-06 17:05] begoldsm commented on #95
@avaranovich did the folder "updates" exist prior to the put? Can you also confirm the permissions that are on the folder and file? The inherited permissions may be reduced to just --x instead of rwx in this case. In the meantime I will try and repro on my side to see what is going on.

[2016-10-06 20:51] begoldsm commented on #54
I am closing this and marking it as an enhancement to be revisited in the future, as this is not a high priority item.

[2016-10-06 20:51] #54 closed

[2016-10-06 20:52] begoldsm commented on #53
This has been fixed and validated.

[2016-10-06 20:52] #53 closed

[2016-10-06 20:52] begoldsm commented on #15
The package naming is ready!

[2016-10-06 20:52] #15 closed

[2016-10-06 20:53] begoldsm commented on #47
This is now done and we are getting much more information in both debug logs and error logs.

[2016-10-06 20:53] #47 closed

[2016-10-06 20:53] begoldsm commented on #50
This has been resolved and cancel returns in a more reasonable amount of time, although cancelling a very large folder upload (50K 1mb files) will still take some time to return control.

[2016-10-06 20:53] #50 closed

[2016-10-06 20:56] begoldsm commented on #66
@jbcrail @martindurant this is partially fixed. I am not sure if we will be able to make the full fix within the multithread.py/transfer.py logic right now, but that is where the catching should happen for the appends if the data has already been uploaded. We should not make changes to the core.py implementation of the APPEND call to just return if a BadOffsetException is returned, since there wil

[2016-10-06 20:57] begoldsm commented on #96
@avaranovich this should now be resolved with the latest build.

[2016-10-06 20:57] #96 closed

[2016-10-07 09:45] avaranovich commented on #95
Let me clarify the set up: I am uploading the file using service principal acocunt (the app is registered in Azure AD, and the permissions are given) and accessing the file with my personal user account via Azure portal. See how the permissions are set up

[Permissions](http://take.ms/NXHjO)

AzureDataLakePowerBI is the service account used in my python code, and above is my user account.

[2016-10-10 17:26] begoldsm commented on #95
Thank you for the clarification @avaranovich. I will follow up with our ACL team to understand what could be causing this interaction. Out of curiosity, can you explicitly give your user account permissions on the file using the service principal in python and will that allow you to then access the file as you would expect?

[2016-10-21 16:00] #66 closed

[2016-10-27 01:00] begoldsm opened #108 "Download operations failing silently sometimes"
We are seeing issues where, unless progress tracking is being printed out, download fails without reporting any error messages, resulting in a corrupt downloaded file and the perception of success.

Example output:
remote file     : /begoldsmtest/50_1GB_Files
remote file size: 52425000000
[errored] file begoldsmtest/50_1GB_Files/14 -> D:\ingress\50_1GB_Files.out\14, chunk D:\ingress\50_1GB_Files.o

[2016-10-30 22:08] #108 closed

[2016-11-01 17:32] begoldsm commented on #13
@jbcrail @rrenfrow86 do we have a status update on validation of code coverage, or is there something I need to do in order to get something like coveralls running against this repo?

[2016-11-08 13:56] JonathanNiesel opened #111 "Multi-factor authentication"
Hi,
I try to connect with the following line:
`token = lib.auth(tenant_id, username, pasr)`,
but it returns the following error:
`AdalError: Get Token request returned http error: 400 and server response: {"error":"interaction_required","error_description":"AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authe

[2016-11-08 18:57] begoldsm commented on #111
This is possible but much more involved and it will require a slight code change to modify the token for refreshability. I will work on getting this included in the auth library.

[2016-11-09 22:28] begoldsm opened #112 "Parallel upload/download opening too many TCP/IP connections"
The current implementation does not submit web requests through a session, which results in a new session being created and destroyed each time a request is sent. This results in a lot of time being spent in getaddrinfo calls when that information can be re-used. The solution to this is to execute requests through a session like in the below example:
[code]

note, though, that Session is not guara

[2016-11-14 18:03] #112 closed

[2016-11-14 19:59] begoldsm opened #115 "Cancelling executing results in typeError"
When cancelling out of an upload or download (ctrl+c) the following error message is returned, which indicates that future appears to be set as an int instead of an object.

transfer.py", line 364, in _update
    nbytes, exception = future.result()
**TypeError: 'int' object is not iterable**
2016-11-14 19:56:59,545 concurrent.futures ERROR    exception calling callback f
or <Future at 0x7775f44a90

[2016-11-14 23:36] begoldsm opened #117 "Upload has inconsistent hangs due to over zealous state tracking."
During upload, we are seeing throughput drop to zero on some attempts for periods up to 20 minutes. During this time it appears that all processing has stopped, as though the uploader is deadlocked or waiting for some exclusive lock to be released. This is drastically impacting overall performance of the uploader, especially when run for very large files.

[2016-11-15 01:04] #115 closed

[2016-11-16 00:10] begoldsm commented on #117
This is the result of frequent and intensive IO due to very frequent progress state saving. The way progress is tracked needs to be tuned to result in less frequent reads and writes to disk, reducing the liklihood of thread locking and contention.

[2016-11-21 18:07] #111 closed

[2016-11-21 18:09] begoldsm commented on #117
PR: #114 created a work around for this until a full fix is implemented to save state in a less IO-intensive way. That pr removed state saving completely, so resume functionality is currently missing.

[2017-01-11 00:30] begoldsm opened #123 "lib.auth() with no args should default to 2FA to the common tenant"
It currently requires the tenant_id to be passed in. The 'common' tenant should be used by default.

[2017-01-12 20:11] begoldsm commented on #117
Closing this and opening a new feature request to re-implement state saving.

[2017-01-12 20:11] #117 closed

[2017-01-12 20:13] begoldsm opened #124 "[Feature request]: Re-introduce state saving functionality"
State saving was removed due to intensive IO operations being performed in PR #114. This issue tracks the need to re-introduce state saving to support resumability of failed or interrupted uploads and downloads.

[2017-01-25 18:04] begoldsm commented on #123
This was resolved with PR: #127

[2017-01-25 18:04] #123 closed

[2017-01-26 02:02] begoldsm opened #132 "[Feature request]: Delimiter Support for file and folder upload"
This is a nice to have enhancement that allows for record boundaries to be honored during upload, so that no data is uploaded in the middle of a record.

Work required for this:
1. Add functionality to properly chunk large files on delimiter terminations, so that no records span chunks
2. Add awareness of all chunks to the delimiter searching logic to allow for robust error handling and validation

[2017-01-29 19:38] drcrook1 opened #133 "Permission Denied"
Hello,

It seems that no matter what I do, I can not get access to my store.  Below is the exact code I am using (minus the password etc.)

The user is the subscription global admin and as such is an owner over the resource.  I have also tried the service account I created with office 365 and have verified the user is a contributor to the resource group owning data lake as well as ensuring has rea

[2017-01-29 20:04] drcrook1 commented on #133
Decided to try the following code and got the following error instead:

`r = list(adlsAccountClient.account.list())
for items in r:
    print(items)`

**CloudError: Azure Error: InvalidAuthenticationTokenTenant
Message: The access token is from the wrong issuer 'https://sts.windows.net/e2b63ba7-49a3-486c-8b0d-bb4a6c408826/'. It must match the tenant 'https://sts.windows.net/7e6ce8cc-36a5-40de-98a7

[2017-01-29 20:14] drcrook1 commented on #133
Seeing this; https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal but it is not an application attempting to do anything, its a user.  Lets say I did create an app, my app is just some random code running as a service somewhere and not actually an 'app'.

[2017-01-30 19:22] begoldsm commented on #133
@drcrook1 the issue you are seeing is indicative of a cross tenant authentication problem. Basically, the user you are authenticating with is targetting AAD tenant A, but the resource (ADL account) you want to access exists under AAD tenant B. This is not supported (as evidenced by the invalid token tenant message).

This is an issue in two scenarios:
1. The user you are authenticating with only e

[2017-01-30 20:27] begoldsm commented on #95
@avaranovich is this still an issue? I confirmed with our ACL team that the scenario you described should be resolved with our introduction of the "super user" feature. Please let me know, otherwise I will consider this issue to be closed.

Thanks!
Ben

[2017-01-30 20:28] begoldsm commented on #13
I am closing this as we now have consistent code coverage reports and a known set of additional tests to create tracked by #78

[2017-01-30 20:28] #13 closed

[2017-02-01 13:43] avaranovich commented on #95
@begoldsm what is the "super user" feature?

[2017-02-01 19:23] begoldsm commented on #95
@avaranovich it is functionality built into the service now where any owner of the account itself will also have full RWX access on the full filesystem within the account. Basically, all account owners are superusers. Regardless of that feature, are you still able to reproduce your issue?

[2017-02-01 20:35] chasehere opened #136 "pip install broken"
[code]

[2017-02-02 22:16] drcrook1 opened #139 "Pip install azure-datalake-store doesn't work"
Here is the exact error codes.

I'm doing it inside the CNTK v8 virtual environment using python 3.4.

(C:\local\Anaconda3-4.1.1-Windows-x86_64\envs\cntk-py34) c:\local\cntk\Scripts>pip install azure-datalake-store --upgrade
Collecting azure-datalake-store
  Using cached azure-datalake-store-0.0.2.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call las

[2017-02-02 22:31] #139 closed

[2017-02-02 22:43] paulpc commented on #136
bump

[2017-02-02 23:18] begoldsm commented on #136
Thank you so much for the report @paulpc and @chasehere! This has been fixed in version 0.0.3, please install that version, as version 0.0.2 has an invalid setup.py.

[2017-02-02 23:18] #136 closed

[2017-02-02 23:30] begoldsm commented on #133
@drcrook1 in addition to the post above I have some more specific information for you in order to enable your scenario:
1. All guest users (users being invited into a new AAD tenant) **must** be email enabled, as they are required to accept the invite. The invite operation does not complete until they approve the request.
2. In your specific case, and for others with an OrgID and LiveID account wi

[2017-02-02 23:30] #133 closed

[2017-02-07 19:36] begoldsm opened #142 "Feature Request: Progress Tracking Performant for Large Folders"
Currently progress tracking is part of "verbose" output which inherently implies that it may not be particularly performant. This is true for very large folders, as the way progress tracking is done ultimately results in thread locking and out of sync transfer reporting status.

This feature request is to rework progress tracking to be separate from verbose output and handle large folders of very

[2017-02-07 21:25] drcrook1 opened #145 "Feature Request: Better logic for folder upload/download when overwrite=false"
Currently it throws an exception.  This is painful.

Check this code, just to be sure, but I upload an entire folder.  Sometimes things go wrong and upload is interrupted.  So I move the already done files to another folder and keep uploading the source folder.

Getting remote file list appears to not necessarily match the local file list.

SomeFunctions
`#%%
def GetADLSManager():
    credentials

[2017-02-08 19:08] begoldsm commented on #145
@drcrook1 what version of the package are you using (should be at least 0.0.3)?
What errors are you getting on upload that is resulting in the interruption?
When you do your move and re-upload what files are missing?

We have an enhancement to support resume (#124 ), which would help with your interrupt scenario, but I would first like to understand what is causing the interrupt to see if we can f

[2017-02-09 15:41] drcrook1 commented on #145
The interrupt was caused by me stopping and starting it again due to super slow speeds.  I adjusted some code and tried to resume again.  The biggest issue for me is really around performance, but this was an easier and more concrete issue to report.

[2017-02-09 19:18] begoldsm commented on #145
Based on the code snippets above, your poor performance is expected. You are explicitly setting the parallelism of the operation to 1, which is the equivalent of a sequential upload, which will upload each file in sequence, one 4mb chunk at a time.

In most cases, you should see fairly good performance with default thread count, however if the machine you are doing the upload from does not have a

[2017-02-17 18:04] begoldsm opened #146 "Not all validation exceptions are raised prior to beginning upload/download"
A customer discovered that, when they do not have permissions to download a file, unless error logging is enabled they do not get an exception. Additionally, the client preemptively creates the empty file prior to doing the validation that it can actually download the file.

To fix this we need to fix the following:
1. Ensure that all terminating exceptions are ultimately raised to the caller (not

[2017-03-02 22:51] argoneus opened #148 "Uploader fails for multiple files if DL path exists"
I'm attempting to upload multiple files to an existing DL path, and I'm receiving the following error:

[code]

My input line is:

[code]

Just to test, I tried uploading a single file, specifying the path in DL, and it worked, i.e.

[code]

[2017-03-02 23:03] argoneus commented on #148
Previous to this, I successfully uploaded several files and the DL path with created as part of the process, i.e.

[code]

This worked as expected:  the path was created and files copied.

[2017-03-08 14:42] drcrook1 opened #150 "pip installs fail"
Here is the output.

On an Azure Ubuntu 16.04 NC12 machine running python 2.  Getting it set up for deep learning.

dliuser@robosciencevm:~$ sudo pip install azure-datalake-store
The directory '/home/dliuser/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled. Please check the permissions and owner of that directory. If executing pip with sudo,

[2017-03-08 15:17] drcrook1 commented on #150
Gotta install a series of packages via apt-get

[2017-03-08 15:17] #150 closed

[2017-03-08 15:29] drcrook1 opened #151 "Download Folder Api"
This is an enhancement request that would be great to have.

Here is what I tried to build:
`def DownloadFolder(remote, local, threads = 64, overwrite = False, filemanager = None):
    if(filemanager == None):
        filemanager = GetADLFileManager()
    ADLDownloader(filemanager, lpath=local, rpath=remote, nthreads=threads, overwrite=overwrite, buffersize=4194304, blocksize=4194304)
    `

I wou

[2017-03-08 15:36] drcrook1 commented on #151
Just adding more here; it appears to not be downloading the folder via this method.  I am ssh'd into the server and doing ls -a to list files as they should hopefully be coming in and they appear to not be showing.  The full directory download is ~100 gb.

[2017-03-09 21:25] drcrook1 commented on #151
Any info on this?  The docs say my use case should work; but it obviously isn't.  I currently have several engineers assigned to solve for a work around.  This is business critical impact.

[2017-03-10 19:16] begoldsm commented on #146
This should be resolved in release: 0.0.5 and pr: #147

[2017-03-10 19:16] #146 closed

[2017-03-10 19:24] begoldsm commented on #145
@drcrook1 I am turning this into a feature request, as we now have a couple of issues regarding the current "heavy handed" approach to folder upload and download and overwrite. Our team will prioritize this and use this issue to track our progress and making folder transfer experiences more intuitive and usable.

[2017-03-10 19:24] begoldsm commented on #148
@argoneus the uploader for folder is very rigid in checking for existence. If the folder you are attempting to upload to already exists, you must specify overwrite=True, which will remove the folder and re-create it during the folder upload.

We have an improvement tracking the addition of more robust and flexible folder upload and download validation logic: #145

[2017-03-10 19:24] #148 closed

[2017-03-10 19:28] begoldsm commented on #151
@drcrook1 can you enable logging for your run to see what is going on and paste the error logs here? What version of azure-datalake-store are you using? If it is < 0.0.5 please upgrade to the latest version.

[2017-03-10 19:29] begoldsm commented on #95
@avaranovich friendly ping here. Are you still experiencing this issue? I will be closing out this issue on Monday (03/11/2017) if you are not or I don't hear back as part of issue clean up in this repository.

[2017-03-13 10:21] avaranovich commented on #95
Yes, I still can reproduce the issues. In fact I can also reproduce it under the followin set up: upload the file using the user (not app principal), and then try to access the file with the user from _different_ Azure AD, who is also an owner of the ADL Store.

[2017-03-14 20:25] drcrook1 commented on #151
How do I enable logging?  I do have the latest version of azure-datalake-store as of today.

[2017-03-24 18:18] begoldsm commented on #151
@drcrook1 this has been resolved in the latest version of the SDK (0.0.6). Please update your SDK and give it a shot!

[2017-03-24 18:18] #151 closed

[2017-03-24 18:40] begoldsm commented on #95
@avaranovich the second scenario is not actually supported. The other user must be a member of the same AAD as the data lake store account in order to have any access. So you would need to log in as that user using the tenant ID of the AAD tenant the Data Lake Store account is in.

For ADLS, I recommend going through the following steps with your account through the portal first to make sure they

[2017-04-03 12:36] drcrook1 opened #153 "Feature Request: Create nested folder structure during upload if not already present."
Here is the output of the command:

RemoteException":{"exception":"FileNotFoundException","message":"Folder does not exist: /mnt/doc_suite/rvl_cdip_raw/labels [c0c0aeec-2c4d-4545-8f34-fc82bc26688d][2017-04-01T20:39:35.0374181-07:00]","javaClassName":"java.io.FileNotFoundException"}}'

I currently have several engineers working simultaneously and may generate all sorts of folder structures.  These

[2017-04-04 23:08] drcrook1 commented on #145
Any updates on this one?  Its causing pain in our teams.

[2017-04-13 21:09] begoldsm commented on #153
Thanks for the report @drcrook1! I will tag this as an enhancement that will be triaged and planned for our next milestone.

[2017-04-28 13:05] avaranovich commented on #95
I solved the issue of multiple AADs by **chmod '0777'** of every uploaded file. This way the users from the other AADs granted permissions via portal can read the file. It might not be a supported scenario (even I am still not sure how such chmod related to the ACL assigned via portal), but it works.

[2017-05-10 17:04] hlums opened #158 "Token cannot be auto-refreshed"
Hi, I got the following error when I submitted a job to ADLA and it got queued for a long time. I noticed that the token expires after some time, so I always create a new token when possible. But in this case, the job is already submitted and queued, so I couldn't create a new token. I checked the source code and didn't see where I can increase the token expiration time. Thanks!

[05/09/2017 20:36

[2017-05-26 22:50] begoldsm commented on #158
@hlums can you let me know how you are passing in the token? Are you using the lib.auth() functionality to generate the token? Additionally, can you share what version of the python SDK you are using? We have made some changes to the authentication story for the SDK to better handle and support refresh token functionality, and in the latest version this should alleviate the problem you are facing.

[2017-05-30 14:31] hlums commented on #158
Thanks @begoldsm! I'm using lib.auth() to generate the token and version 0.0.5. So using version 0.0.9 should fix the problem?

[2017-05-30 17:43] begoldsm commented on #158
@hlums It should indeed! We should be properly populating the refresh token in the latest release. If it still doesn't work with the latest release, though, I would recommended ensuring that the account you are authenticating with has refresh support (that it can be automatically refreshed without user interaction). That is something that an AAD admin can change to make an account more secure, sin

[2017-05-30 17:48] hlums commented on #158
@begoldsm Thank you! I will try the newest version and check our account setting. Closing the issue for now.

[2017-05-30 17:48] #158 closed

[2017-06-01 14:32] drcrook1 opened #163 "slow performance downloading folders"
I have probably 300,000 or so images from 40kb to 150kb each currently stored in ADLS I am attempting to download into a container.

The ADLS store is in Central US, the container is in East US.  We let the download job run overnight (14 hours or so) and the result is still nothing is downloaded.

Details on container: It is a Jupyter Notebook docker container running python 2.7.  It is mounted on

[2017-06-01 22:10] begoldsm commented on #163
@drcrook1 you are going to get sub par performance in this situation due to latency issues between all of these different services. That being said, what is the actual command you are running to do the download and how many threads are you using, I would recommend somewhere between 16 - 32 threads.

And the usual question: what version of the client are you using.

[2017-06-01 22:13] begoldsm commented on #95
@avaranovich I am glad to hear you figured this out! If you feel that this behavior is not ideal or as expected, I definitely recommend giving this feedback at http://aka.ms/adlfeedback. Since you have resolved this, I am closing out this issue now.

[2017-06-01 22:13] #95 closed

[2017-06-01 22:15] begoldsm commented on #145
@drcrook1 there is a fix for this in the latest version of the SDK. Now, if a folder already exists we will upload the contents to that folder provided that they have no collisions with leaves (files) in that folder (this includes nested folders). If there are files that it would collide with, an exception will be thrown that gives the full list of files that it will collide with so that you can m

[2017-06-01 22:15] #145 closed

[2017-06-01 22:16] begoldsm commented on #153
@drcrook1 this should now be fixed in the latest version of the SDK (0.0.10). Please give it a shot and let me know if you are still experiencing problems

[2017-06-01 22:16] #153 closed

[2017-06-15 18:51] matt1883 opened #165 "Automatically refresh service principal access token"
The built-in authentication logic accepts service principal credentials to fetch an access token once. When this access token expires, the authentication logic does not refresh the access token.

The access token should be refreshed on-demand, if the existing token has expired.

This allows the user of the SDK to not worry about manually refreshing the token in the case of service principal auth,

[2017-07-03 07:19] jerrysoft-x opened #168 "AccessControlException when accessing the file uploaded by Python script from portal"
I uploaded a test file to Azure Data Lake Store through Python script with login as an Web App account, however I'm the owner of this ADL and I confirmed I have all the access to this uploaded file in the file properties, when I try to see the content of the uploaded file in File Preview in Azure Portal, I got #AccessControlException telling me I'm not authorized. I don't understand that, to me th

[2017-07-03 09:18] nickraptis opened #169 "'upload' should not remove common prefix when uploading folders"
I'm trying to upload a tree of data using azure cli.
The folder structure looks something like "json/$project/$year/$month/$day/part_*.json"
I only have a couple of days data so, project,year,month are constant.

The command I issue is
az dls fs upload --source-path ./json --destination-path /json

My expectation was that the whole tree structure under json would be copied to DLS, as any other com

[2017-07-04 09:06] jerrysoft-x commented on #168
The error has gone after a day, not sure what happened, Azure need 24h to sync access settings?

[2017-07-04 09:16] jerrysoft-x opened #170 "Could not find cli.py in the library"
I'm reading the document of azure data lake store in http://azure-datalake-store.readthedocs.io/en/latest/, in the chapter "Command Line Usage", the code sample is running "python cli.py ls -l".

However, I haven't found cli.py in azure.datalake.store library, so I wonder if it is not available anymore?

[2017-07-06 18:24] begoldsm commented on #168
@jerrysoft-x If your user account is the ADLS account owner but does not have explicit ACL permissions on any files/folders, then yes, it does take some time for the access to propagate on newly created items by other users/applications. To avoid this, I would recommend configuring access on the root directly for an "owners" security group as a default ACL, which will rapidly propagate to all sub-

[2017-07-06 18:24] #168 closed

[2017-07-06 18:28] begoldsm commented on #169
@nickraptis thank you for the report and you are correct, this is not expected behavior. We will investigate this and fix it as soon as we can.

[2017-07-06 21:01] begoldsm commented on #170
@jerrysoft-x It is present in the Samples folder: https://github.com/Azure/azure-data-lake-store-python/blob/master/samples/cli.py

For information on using it:
https://github.com/Azure/azure-data-lake-store-python#command-line-sample-usage

[2017-07-06 21:01] #170 closed

[2017-07-06 22:23] begoldsm commented on #169
@nickraptis can you also give the following info about your setup, to help our investigation and resolution:
1. Verison of the CLI/SDK that you are using (pip show azure-datalake-store)
2. OS type and version
3. Python version.

Thanks!

[2017-07-06 22:43] begoldsm commented on #165
This is resolved and published by PR #167

[2017-07-06 22:43] #165 closed

[2017-07-07 15:07] nickraptis commented on #169
$ az component list
...
  {
    "name": "dla",
    "version": "0.0.9"
  },
  {
    "name": "dls",
    "version": "0.0.9"
  },
...

(azure-cli) $ pip show azure-datalake-store
Name: azure-datalake-store
Version: 0.0.9
Summary: Azure Data Lake Store Filesystem Client Library for Python
Home-page: https://github.com/Azure/azure-data-lake-store-python
Author: Microsoft Corporation
Author-email: ptvshe

[2017-07-07 16:40] begoldsm commented on #169
Great, thank you for this additional information @nickraptis this will be very helpful for us to investigate why the common prefix logic is not properly working in this case. I will investigate and we should hopefully have this resolved soon.

[2017-07-07 17:25] begoldsm commented on #169
@nickraptis I am unable to reproduce this issue with the latest version of the azure-datalake-store package (0.0.13). Can you try updating that underlying package on your machine with: `pip install azure-datalake-store --upgrade`

If this resolves the issue then the next official release of the CLI will also resolve it, as it will automatically take a dependency on the latest version of the packag

[2017-07-10 12:08] nickraptis commented on #169
I did upgrade what I could

from pip list:
azure-cli-dla (0.0.10)
azure-cli-dls (0.0.10)
azure-datalake-store (0.0.13)
azure-mgmt-datalake-analytics (0.1.6)
azure-mgmt-datalake-nspkg (2.0.0)
azure-mgmt-datalake-store (0.1.6)

The issue is still there, so I'll try and describe it a bit more:

The folder structure I'm trying to copy is:
worked
└── worked1
    └── worked2
        ├── worked3

[2017-07-10 21:40] begoldsm commented on #169
@nickraptis aha, thank you for the repro folder structure! I was not creating the right structure when attempting it on my side. Based on this I am working on a potential fix now, as I have identified the code that is collapsing the common prefix. Thanks!

[2017-07-11 20:48] begoldsm commented on #169
@nickraptis this should be fixed with the latest release. Please install v0.0.14 and re-run your scenario and folder structure should now be maintained properly.

https://github.com/Azure/azure-data-lake-store-python/releases/tag/v0.0.14

[2017-07-11 20:48] #169 closed

[2017-07-13 16:25] clehene opened #174 "Enable Data Lake Store progress controller callback"
### Description
This should report progress on transferred chunks (similar to blob store transfer)
[code]

[2017-07-13 16:50] begoldsm commented on #174
@clehene  This is a an extension of enhancement: #142 for the CLI.

Currently progress support will show up if --verbose is specified in the CLI or verbose=True is passed in to the SDK directly, however it drastically reduces overall performance for folder upload/download when there are a large number of files, due to the single threaded nature of Python and the constant context switching between

[2017-07-13 17:04] begoldsm commented on #174
Just saw that you also submitted a PR @clehene, thank you! The PR is: #175

[2017-07-13 17:06] clehene commented on #174
@begoldsm it looks like the `progress`, `status` functions are pretty heavy as they will iterate across all files / chunks with every operation. The implementation in the PR makes use of the core progress controller and only updates transferred bytes, so IMHO shouldn't affect performance dramatically. Is there a benchmark test implemented so we could compare?

[2017-07-13 17:13] begoldsm commented on #174
@clehene that is great to know! We do have a benchmark test although, unfortunately, it is not entirely self contained, as it assumes the existence of certain files with specific names. it exists in samples/benchmarks.py, and could easily be updated, I think, to create the files that it uses to test on execution instead of relying on them to be pre-existing. If you are up for making some additiona

[2017-07-19 18:03] adambain-vokal opened #176 "n"
### Description
**Outline the issue here:**

---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:

**Python Version:** What Python version are you using? Is it 64-bit or 32-bit?
Answer here:

**OS Version:** What OS and version are you using?

[2017-07-19 18:04] #176 closed

[2017-07-20 01:49] clehene opened #177 "Race condition due to `transfer` future `done_callback` that depends on state that may set after it's execution"
### Description
I noticed this while trying to figure out why `client.run()` hangs in tests if the transfer function doesn't sleep a bit.

#### Background
Upon calling `submit` on a `ThreadPoolExecutor` a future is returned, but the task can be immediately executed (i.e. there's no `start()` on the pool).
A done callback can be a added on the future, but it depends on actually submitting the futur

[2017-07-24 17:41] begoldsm commented on #142
#174 enables this nicely, huge thanks to @clehene for implementing the fix!

[2017-07-24 17:41] #142 closed

[2017-07-24 17:43] begoldsm commented on #142
#175 is the actual PR 😄

[2017-07-24 17:44] begoldsm commented on #174
#175 enables this.

[2017-07-24 17:44] #174 closed

[2017-07-24 17:57] begoldsm commented on #177
#178 resolves this issue. Thank you for the contribution @clehene!

[2017-07-24 17:57] #177 closed

[2017-07-25 18:02] lmazuel opened #180 "Readme issues"
Every OSS project should have in the README (and are scored on this):

- [ ] How to start tests
- [ ] How to contribute text. Like:
https://github.com/Azure/autorest/#code-of-conduct

Non exhaustive list, but required by current scorecard.

[2017-07-26 22:36] clehene opened #182 "File state incorrectly marked as "errored" if contains chunks is "pending" state"
### Description

in `_update`

[code]
If chunks are in `pending` state instead, this will mark the parent state as "errored" which will subsequently cause `active` ( `return not self._fstates.contains_none('pending', 'transferring', 'merging')`) to return `False` and `monitor` to continue with chunks in `pending` / `running` states.

If by the time `run` checks the chunks of a file the chunk has f

[2017-07-28 21:39] clehene commented on #182
Fixed by https://github.com/Azure/azure-data-lake-store-python/pull/183

[2017-07-28 21:39] #182 closed

[2017-08-01 10:08] Mikeprod opened #185 "Token request returned http error 400"
### Description
I cannot get a token since yesterday evening (CEST time) and therefore cannot with files stored in any datalake store.
---

### Reproduction Steps
With only the following code :
[code]
I get the following error:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "c:\users\username\downloads\azure-data-lake-store-python\azure\datalake\store\lib.py", line

[2017-08-01 13:45] Mikeprod commented on #185
At this hour this error does not happen anymore.

[2017-08-02 07:32] Mikeprod commented on #185
I am having the issue again this morning. Haaaaalp !

[2017-08-10 00:03] clehene opened #187 "Regression: Multi chunk transfer hangs as merging chunks fails"
### Description

This is caused by https://github.com/Azure/azure-data-lake-store-python/commit/4b3171d87fe0efeadcd688a561b67144d229c288 which removed `_submit` to achieve better control of done callback behavior and avoid a race condition.

However `_submit` was called when merging chunks and now fails.

The behavior is that the transfer will hang after the error. I'm not clear why it hangs inste

[2017-08-10 01:13] clehene opened #188 "Refactoring: remove transfer reference to parent"
### Description
It's an unnecessary coupling used to access an otherwise private field.
Instead `overwrite` should be a transfer parameter and `save()` should be passed as a reference like `merge` and `transfer`

[2017-08-30 19:42] spula opened #190 "azure/datalake/store/transfer.py missing _submit in master"
### Description
**Outline the issue here:**
  File "C:\Python\lib\concurrent\futures\_base.py", line 297, in _invoke_callbac
ks
    callback(self)
  File "C:\Python\lib\site-packages\azure\datalake\store\transfer.py", line 434,
 in _update
    merge_future = self._submit(
AttributeError: 'ADLTransferClient' object has no attribute '_submit'
end upload

---

### Reproduction Steps
multithread.ADLUp

[2017-09-08 00:33] clehene commented on #187
Merged

[2017-09-08 00:33] #187 closed

[2017-09-18 18:34] begoldsm opened #194 "Formatting is broken on PyPi landing page"
### Description
**Outline the issue here:**
The formatting of the README.rst and HISTORY.rst is broken, resulting in a plain text landing page on PyPi (see here: https://pypi.python.org/pypi/azure-datalake-store/0.0.16). You can see the difference by looking at this previous version of the package: https://pypi.python.org/pypi/azure-datalake-store/0.0.14

Both version 0.0.16 and 0.0.15 have this b

[2017-09-20 21:18] chdevala commented on #190
This issue is fixed in 0.0.16 release.

[2017-09-20 21:18] #190 closed

[2017-09-28 15:18] xhochy opened #198 "Unsuitable behaviour for reading parts of files"
### Description

When using the package to access the Azure Data Lake Store to read Apache Parquet files with `pyarrow`, it can be seen that we retrieve significantly more data than needed on selective reads. Using columnar file formats like Apache Parquet are essentials for analytic access as the engine reading these files can already push parts of the query down into the storage layer. Data that

[2017-10-03 01:25] asikaria-msft commented on #198
Ack on the issue, this is an incorrect assumption in the reading code. Thanks for the detailed report and investigation!

[2017-10-24 18:53] argoneus opened #200 "Frequent Connection Reset errors with 0.0.17"
### Description
**Outline the issue here:**
We recently upgraded to version 0.0.17 and have been experiencing a multitude of "Connection Reset" errors when interacting with ADLS.

Example error:

`DatalakeRESTException: HTTP error: ConnectionError(ProtocolError('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer')),)`

---

### Reproduction Steps
** Enumerate the steps to re

[2017-12-18 12:31] AMustapha opened #201 "Certificate"
Hello,
Doest the Current Version Support Authentification using Service principal and Certificate

Thank you

[2018-02-07 23:03] npezolano opened #204 "Renaming and moving files not working"
Both AzureDLFileSystem.mv and AzureDLFileSystem.rename throw the following error on linux:

`DatalakeRESTException: Operation failed: RENAME, myfile.csv`

[2018-02-13 19:58] vsandeepsrivastav opened #206 "pkg_resources.DistributionNotFound: The 'futures; python_version <= "2.7"' distribution was not found"
### Description
Including azure==2.0.0 as a dependency (in setup.py file install_requires section) fails for any library consuming azure due to the following error:

`pkg_resources.DistributionNotFound: The 'futures; python_version <= "2.7"' distribution was not found and is required by azure-datalake-store
`
This is a blocker as I am sure the world has moved from consuming any version of python l

[2018-02-14 17:11] lmazuel commented on #206
I would not suggest to remove that, this probably just mean that you need to update your pip version.

[2018-02-17 21:44] milanchandna commented on #198
Hi, This issue has been fixed in new version 0.0.18 available [here](https://pypi.python.org/pypi/azure-datalake-store/0.0.18). Hence closing this issue. Please try out and add your feedback here. Thanks, Azure Team.

[2018-02-17 21:44] #198 closed

[2018-02-17 22:03] milanchandna commented on #204
@npezolano Hi, Can you please share more details here so that it will help us debug the issue.
For example:
1. Bit more of your code snippet.
2. Whether detailed "ls" and "create" command in parent directories(both source and destinantion) is working?
3. Detailed logs for rename and mv errors. Debug logs are preferred.
4. Is this problem particularly in one account?
5. Is this problem particularly

[2018-02-20 07:45] milanchandna commented on #194
This was fixed in 0.0.17 version.
For reference:
https://pypi.python.org/pypi/azure-datalake-store/0.0.17
https://pypi.python.org/pypi/azure-datalake-store/0.0.18

[2018-02-20 07:45] #194 closed

[2018-02-20 09:12] milanchandna commented on #200
Are you still facing these errors in version > 0.0.16?
Also please share the account name and recent timestamp when the errors were occuring.

[2018-02-23 20:31] milanchandna commented on #201
Sorry, this is currently not supported in Python SDK. For now closing this issue but can reopen and prioritize based on demand.

[2018-02-23 20:31] #201 closed

[2018-03-07 12:10] dgfmdrv opened #207 "Unable to apply acl loaded from other file"
### Description
Hello, I'm trying to copy a file from one datalake to other. I sucesfully copy a file using ADLDownloader and ADLUploader (temporary file on shm)
In this case I would like to preserve ACL from source datalake. I run xxx.get_acl_status(file) and get an acl dict:
{'stickyBit': False, 'entries': ['user::rwx', 'group::rwx', 'group:0xxxxxx78a4751:--x', 'group:3e6xxxx94df8f9f50:r-x', 'gr

[2018-03-08 10:36] dgfmdrv commented on #207
Reading docs for set_acl, I could join acl['entries'] using coma an use set_acl or modify_acl_entries.

But I get an PermissionError:

[code]
[code]
ADLUploader function work, I can see the new directory and file but set_acl launch an exception.
get_acl_status also work.
[code]

If I launch a haddop command with same credentials, permissions from original file on nnnn datalake are copied to yyyyyy

[2018-03-09 13:37] npezolano commented on #204
Thanks and apologies this was an error on my end.

[2018-03-09 13:37] #204 closed

[2018-03-13 19:14] milanchandna opened #208 "Uploading a directory with single file was messing up with filename"
### Description
Uploading the files from directory with single file messes up the destination filename.
Ideally destination filename should have similar filename as of source file and directory structure should be similar.
But rather destination filename is the name of source directory and source filename is not being used.

---

### Reproduction Steps
Sample Command: Command arguments ['dls', 'fs

[2018-03-13 20:16] milanchandna commented on #208
Fixed in 0.0.19

[2018-03-15 12:46] argoneus commented on #200
Yes, I'm still seeing these issues in 0.0.18.  Which account name do you need?

[2018-03-17 15:02] starhh opened #210 "python error importing data lake store: azure.mgmt.datalake.store (Windows 8-64 bit, Python 3.6.3, Pip 9.0.2)"
### Description
 (Windows 8-64 bit, Python 3.6.3, Pip 9.0.2)
Following Documentation to use azure data lake store using python (https://docs.microsoft.com/en-us/azure/data-lake-analytics/data-lake-analytics-manage-use-python-sdk), I was able to successfully install other libraries and the one below for ADLS:
pip install azure-datalake-store

[2018-03-20 21:56] milanchandna commented on #200
Actually there is not much diff in 0.0.16 and 0.0.17
If you are really sure that there is significant difference in behavior in these 2 versions for the scenario you mentioned then we have to check the authentication resource that is being used.
Can you give me some more info please.
1. account name: adl account or store_name
2. Are you passing resource while fetching token. It is usually passed i

[2018-03-20 22:56] milanchandna commented on #207
try this:
adlb.mkdir('directory1')
ADLUploader(adlb, 'directory1/fich_test', '/tmp/fich_test', overwrite=True)
adlb.modify_acl_entries('directory1','user::rwx')
adlb.modify_acl_entries('directory1/fich_test','user::rwx')

First of all set_acl overrides the previous ones whereas modify_acl_entries will only modify.
Secondly, set_acl and modify_acl_entries are not recursive. so use it on both the di

[2018-03-20 23:25] milanchandna commented on #210
Looks like either you have multiple version of Python installed or you are running pip and pyhton scripts from different users. To make sure follow these steps:
1. make sure same user is used for running pip and python commands.
2. run command "which -a python"
    This will show a list of python interpreters installed. When you run "python", first one will be run by default.
3. run command "which

[2018-03-20 23:30] milanchandna commented on #206
I think this is not a problem with 2.x.x but with 2.7.x
Can you please try it with 2.7.0 and 3.x.x rather than 2.7.10 and see if it works.

[2018-03-21 04:58] #206 closed

[2018-03-21 20:12] milanchandna commented on #163
@drcrook1, As begoldsm mentioned the performance is going to take a hit between all different services and in cross geo scenario. But I am worried about "nothing is downloaded" part. Please try with mentioned recommendations and see if you are still facing the similar issues.

As this thread was dead for almost an year, closing this issue, but you can happily reopen it again if you are still facin

[2018-03-21 20:12] #163 closed

[2018-03-26 09:34] dgfmdrv commented on #207
Hi @milanchandna
I called set_acl method but passing only 'user::rwx' as parameter. Because of this I get PermissionError.
Your example works perfectly and I understand diferences between set_acl and modify_acl_entries
Thank you for point me to the right way

[2018-03-26 11:34] milanchandna commented on #207
no problem, happy to help 👍 .

[2018-03-26 11:34] #207 closed

[2018-03-26 22:09] milanchandna commented on #210
Closing this as issue is not in repo but in user configuration.

[2018-03-26 22:09] #210 closed

[2018-04-12 12:47] argoneus commented on #200
We're no longer seeing this issue, so we can close this one.

[2018-04-12 12:47] #200 closed

[2018-04-12 19:28] milanchandna commented on #185
Hi, Apologies for no attention to the thread since long.
The issue you mentioned is related to authentication problem.
The issue is very old and lot of new versions has been released so hoping you are not facing it still.
In case you are then please re-check your configuration carefully like, username, password and tenant_id.
Read blogs on how to fetch the correct values from Azure portal.
If the

[2018-05-24 22:08] npezolano opened #213 "On thread safety, asynchronous and deadlocks"
I'm experiencing deadlocks on a process that runs several multithreaded reads and writes.

Is this library thread safe?

Is the call below handled asynchronously ?
[code]

[2018-06-03 18:09] masangster opened #214 "When downloading a directory that actually only has one file buried in it, the directory structure is not maintained"
### Description
Using the ADLDownloader, when trying to download a directory with multiple subdirectories, if any of the lowest level folders have more than one file in them, the whole directory tree is downloaded as expected. However, if only one file actually exists in one of the lowest level subfolders, then the file is downloaded on its own as though it was only a single file specified for dow

[2018-06-03 20:24] masangster opened #215 "'lpath' not correctly used when downloading"
### Description
The 'lpath' argument passed to the downloader does not get used reliably when downloading.

---

### Reproduction Steps
Try different forms of the 'lpath' argument when downloading a directory - sometimes the download location path is taken relative to where the python script that called it is located, sometimes it is taken relative to the local root eg. C:/, and the actual 'lpath'

[2018-06-06 08:18] kasuteru opened #217 "Use proxy with azure.datalake.store.lib.auth()"
I am trying to use this library behind a corporate proxy and there does not seem to be a (documented) way to configure the proxy to be used with azure.datalake.store.lib.auth()?

Here is an example how it works with the requests library:

[code]

[2018-06-09 00:51] lmazuel commented on #217
Hi @kasuteru
The most simple way will be to set the env variables, as described in the requests doc:
http://docs.python-requests.org/en/master/user/advanced/#proxies

[2018-06-09 20:51] okhoma opened #218 "In glob() details parameter is reverted"
### Description

There seems to be a typo in glob() function:

[code]

Note that it says `f['name'] if details else f`.
It should, probably, be `f if details else f['name']`

[2018-06-11 22:20] okhoma opened #219 "It does not seem that files are closed after writing"
### Description
**Outline the issue here:**

The write() method always flushes data using syncFlag='DATA', so when file is closed the flush(syncFlag='CLOSE') method does nothing. I propose that zero bytes are appended in this case to actually close the remote file.
---

[2018-06-13 20:36] jondelmil opened #220 "msrest ImportError when importing azure.common.credentials"
### Description
Regression in v0.0.22 -- we're importing it as a part of `azure==3.0.0`

[code]

The same test passes in v0.0.19 (tried 0.0.20 and 0.0.21 but they're not released).

---

### Reproduction Steps
[code]

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here: `0.0.22`

**Python Version:** What Python version are y

[2018-06-13 22:23] lmazuel commented on #220
Hi @jondelmil
I think your reproduction steps are incorrect, if you install "azure==3.0.0" there is no way "msrest" is not installed in the process. It's just impossible.
However, if you install only "azure-datalake-store", yes "msrest" is not installed anymore. But you use "azure-common"; and "azure-common" was never a dependency of "azure-datalake-store", so at some point you installed manuallt

[2018-06-13 23:10] lmazuel commented on #220
Since everything is impossible until it's not, I still tried to reproduce it anyway and wasn't able to, as expected.

Collecting azure==3.0.0
blablabla
Successfully installed PyJWT-1.6.4 adal-1.0.1 asn1crypto-0.24.0 azure-3.0.0 azure-batch-4.1.3 azure-common-1.1.12 azure-cosmosdb-nspkg-2.0.2 azure-cosmosdb-table-1.0.3 azure-datalake-store-0.0.22 azure-eventgrid-0.1.0 azure-graphrbac-0.40.0 azure-k

[2018-06-14 14:13] masangster commented on #215
Any progress on investigating this MS? As a large enterprise customer it is critical that data lake data transfer is rock solid and this currently prevents us from moving forward with the roll out of data lake as a storage solution.

[2018-06-14 14:14] masangster commented on #214
Any progress on investigating this MS? As a large enterprise customer it is critical download behaviour is predictable and this currently prevents us from moving forward with the roll out of data lake as a storage solution.

[2018-06-15 07:19] milanchandna commented on #215
Looking into it.

[2018-06-22 05:59] milanchandna commented on #220
@jondelmil Have you followed what Laurent is mentioning? Still facing dependency issues?

[2018-06-22 07:37] milanchandna commented on #218
f['name'] if details else f
here f is fetched from walk() which returns file detailed object if details is True else just the name.
In above line, we just have to pass the name of file in constructor of AzureDLPath.
So if details is True, name is fetched from f object,
which is why: f['name'] if details
else f is name anyways, which is why: else f

Hope that explains :)

[2018-06-22 07:37] #218 closed

[2018-06-25 12:42] #217 closed

[2018-06-25 12:44] milanchandna commented on #217
Closing this since there is a reliable and easy way to setup the proxies.

[2018-06-25 15:41] camronkhan commented on #215
When I specify a file path for _lpath_ it works correctly.  But when I specify a directory path (i.e., downloading a directory of files) then it seems to use _rpath_ as the target path.

[2018-06-26 13:32] camronkhan commented on #215
I believe the root cause occurs at [line 199 in multithread.py](https://github.com/Azure/azure-data-lake-store-python/blob/82f319fb045286f6cf953ce7510568574af1666a/azure/datalake/store/multithread.py#L199):
`file_pairs = [(os.path.join(self.lpath, os.path.relpath(f['name'] +'.inprogress', local_rel_rpath)), f)`

Specifically, `os.path.join()` shouldn't contain latter arguments that start with a sl

[2018-07-05 12:56] milanchandna commented on #213
@npezolano ADLS is single writer semantics like HDFS. So you can still do multithreaded reads but not writes.

[2018-07-05 12:56] #213 closed

[2018-07-06 08:09] milanchandna commented on #215
Based on code path and your input I was able to list down some use cases. (see below)
But unable to reproduce the scenario which you are mentioning.
Though I figured out one scenario in which files might be written down in parent folder but that too if you are using a pattern '*' in rpath. (see below)
It will be really helpful if you can drill down your issue a bit and tell me the rpath and lpath

[2018-07-06 13:22] masangster commented on #215
Hi Milan,

In my testing I have found the following:

1. If my rpath = "/root/testpath/testdir" and is a directory, my lpath = "/testfolder/test", and the script being run is stored in C:/scriptlocation, then the directory being downloaded ends up in "C:/scriptlocation/root/testpath/testdir", so the rpath value is used instead of the lpath. This happens whether or not the lpath target directory ac

[2018-07-09 05:54] milanchandna commented on #215
@masangster, Thanks for detailed info, I found the bug.
The issue is when lpath is Unix based path (starting with /) and current OS is Windows (paths starting with C:\)

So in your scenarios, point 3,4,5,6 are behaving as per expectation and is the right behavior.
1,2 should have behaved in similar manner.
When you start the lpath with "/" the download will start from the root directory followed b

[2018-07-09 12:56] masangster commented on #215
Thanks @milanchandna  - let me know if you need someone to test when implemented :)

[2018-07-10 09:20] milanchandna commented on #220
Considering the thread stale, closing this issue for now. Please re-open if this still doesn't work for you.

[2018-07-10 09:20] #220 closed

[2018-07-16 10:30] milanchandna commented on #215
This has been fixed in version 0.0.23, closing this issue.
https://pypi.python.org/pypi/azure-datalake-store/0.0.23

@masangster can you please verify from your end.

[2018-07-16 10:30] #215 closed

[2018-07-16 19:09] akharit commented on #180
The current README seems to have all the requirements mentioned here. I think this can be closed.

[2018-07-16 20:48] #180 closed

[2018-07-17 07:34] masangster commented on #215
@milanchandna I can confirm this now works as expected - thanks very much! I did however post another issue at the same time as this one (#214 ) that still does not work as intended. Are there plans to fix this as well? Basically the issue is that when a multi level directory is downloaded but only one subfolder has a file in it, the directory structure is not preserved and the file is not reliabl

[2018-07-17 07:35] masangster commented on #214
Hi guys, any update on this?

[2018-07-17 22:14] akharit commented on #214
This occurs due to https://github.com/Azure/azure-data-lake-store-python/blob/f50819ac1a256cf405e5cab9a2658a1427115714/azure/datalake/store/multithread.py#L197

The code for len(rfiles) == 1 does not do a check if only the file was requested explicitly or if the directory structure just happened to have a single file.

I am working on a fix, and AFAIK right now, it should be trivial. I am mainly c

[2018-07-17 22:23] akharit opened #223 "README cleanup"
### Description

There are some issues in the README files under project root and tests directory.

1. It doesn't mention environment variables to use. Those are mentioned in tests/README.md. Should move them to the top of readme file.
"You will need to set the appropriate environment variables as described above to connect to the Azure Data Lake Store."

2. The test folder link should be to organ

[2018-07-19 06:54] masangster commented on #214
Hi @akharit, in my testing if I am downloading a directory from rpath = /TestFolder/TestSubfolder, and TestSubFolder has multiple levels of directory underneath it, but only one file in one of the subdirectories, then the result (if I am downloading the directory to lpath = ./TestLocation/TestSubLocation) is that I end up with a folder at ./TestLocation as expected, and inside this I have one file

[2018-07-19 18:46] akharit commented on #214
@masangster Thanks! I did see that behavior i.e file created with unknown extension. It was basically the sdk trying to create a directory as a file. The current fix I have in branch is working for downloading single files with the directory tree for them, but it is not downloading directories that are empty.

For example,
Assuming directory tree is

[code]
where a,b,c,d are directories and e.txt

[2018-07-19 19:16] masangster commented on #214
@akharit, thanks for this - I also agree that the empty directories not being downloaded isn’t ideal, so if this could be fixed as well it would be much appreciated. Happy to test if needed...

[2018-07-20 17:59] akharit opened #225 "tests/recordings should not be in the repository"
### Description
I am not 100% sure, but I think tests/recordings folder is generated every time the test suite is run. Since it is always dynamically generated after running the tests, and travis build has the test results anyway, I don't think this folder should be maintained in the repo.

Running tests cause this folder to be changed and pollutes the git change tree. Fix would be to add it to .g

[2018-07-28 00:49] akharit commented on #214
@masangster I have pushed a new release with the fix. Can you reply back if you are still facing this particular issue or something similar?

Otherwise, I'll close this in around a week.

[2018-07-30 09:21] masangster commented on #214
@akharit The directory now downloads as expected, however if there is already a directory in place that I want to overwrite, and "Overwrite=True" is specified in the call, it now throws an error at line 252 of multithread.py, described as: name 'errno' is not defined.

[2018-07-30 18:02] akharit commented on #214
Not sure how this got missed. Possibly something I forgot to add to a change while doing a git commit.

Just requires  an "import errno" at line 23 in multithread.py. Will fix ASAP.

[2018-08-09 00:42] #223 closed

[2018-08-09 00:51] akharit opened #227 "FileNotFoundError exception import missing in multithread.py"
### Description
FileNotFoundError exception import missing in multithread.py

---

### Reproduction Steps
Download a file that doesn't exist using ADDownloader, while using Python 2.7, instead of FileNotFoundError exception on line120:multithread.py, a NameError is raised due to undefined exception.

### Environment summary

**SDK Version:** 0.0.26

**Python Version:**  2.7

**OS Version:** Window

[2018-08-09 01:29] #227 closed

[2018-08-14 18:10] akharit commented on #214
@masangster This should be fixed. Are there any other issues? Otherwise, I'll close this.

[2018-08-14 21:31] akharit commented on #124
Closing as part of triage of old issues. Will reopen in case of customer demand.

[2018-08-14 21:31] #124 closed

[2018-08-14 21:31] akharit commented on #132
Closing as part of triage of old issues. Will reopen in case of customer demand.

[2018-08-14 21:31] #132 closed

[2018-08-14 21:34] akharit commented on #188
@clehene I know this is quite old but do you remember more information about this issue? I am having a hard time figuring what exactly is meant here, and if there is any context I am missing.

[2018-08-15 06:28] masangster commented on #214
@akharit this seems to be working as expected now. Thanks for your efforts! Can be closed.

[2018-08-15 06:36] masangster opened #229 "Add "selective overwrite based on newest date modified" option for downloads and uploads"
This option would be useful in the case that, for example, I download some subdirectory of files, use some of them as inputs to calculations, and then re-upload the entire subdirectory with additional calculation outputs scattered within subfolders in the subdirectory. In the meantime however, someone has updated a new version of a file that I am using as an input. When I re-upload the subdirector

[2018-08-15 20:37] #214 closed

[2018-08-16 09:39] masangster opened #230 "Maintain file structure when using ADLUploader even if directory is empty"
### Description
Similar to the previous issue with the downloader, the uploader does not replicate the file structure on the remote path if the directory tree does not contain any file but only folders. This is needed to give predictable behaviour regarding whether a folder should already exist or not.

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azu

[2018-08-16 22:07] clehene commented on #188
@akharit I guess it's related to the design of some of the code which I must have encountered while fixing one of these https://github.com/Azure/azure-data-lake-store-python/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+clehene

I'll take a look and see if I can point to the exact code if you can't find it.

[2018-08-17 19:43] akharit commented on #229
This would not be a fix just in the SDK, it would have to be an API feature that is supported in the backend. Currently that is not planned.

However, you can do this yourself in your code by querying the last modified time or the length of the file.

I am leaving the issue open till I get some confirmation from the API side

[2018-08-17 19:44] akharit commented on #188
@clehene  Thanks. I'll look into your pull requests and see if I can identify what it might have been referring to.

[2018-08-21 15:25] kasuteru opened #232 "AzureDLFile does not implement readinto() function"
Some libraries expect file-like objects to have a readinto() method, see also [here](https://docs.python.org/3/library/io.html#module-io). This is currently missing for the AzureDLFile class, making using the ADLS impossible for any libraries that try to use this method.

[2018-08-22 13:05] cassioiks opened #233 "Downloader does not maintain same file structure"
### Description
**Outline the issue here:**

We're using the Downloader class and it's showing erratic behavior in different scenarios:

- When downloading from a folder with only 1 file: Downloader class downloads only the file (e.g.: *sample_file.json*)
- When downloading from a folder with multiple files: Downloader class downloads the entire path structure until the folder being downloaded (e.

[2018-08-22 13:18] #233 closed

[2018-08-22 22:40] akharit opened #235 "test_read_delimited_bloc under test_core.py randomly fails."
### Description

test_read_delimited_bloc under test_core.py randomly fails.
---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**
It is easily observed on seeing travis test logs where on any run, there is a  chance of the test failing under one or more Python versions, though not consistently against any particular version.

### Environment summary

**SDK Version:** W

[2018-08-27 20:08] VincentBLortie opened #236 "Cannot import azure-datalake-store in python <3.3 if no other azure library is installed"
### Description
When azure-datalake-store is the only azure package installed using pip in a python environment with version < 3.3, azure.datalake.store cannot be imported.

(My guess is that unlike other azure packages, azure-datalake-store does not depend on azure-nspkg)

---

### Reproduction Steps
1. Create a new environment with a version of python earlier than 3.3 and activate that environme

[2018-08-28 01:51] akharit commented on #236
Root cause is __init__.py not being present in azure folder of the pip package. Python 3 treats every folder as module, while Python2 requires explicit __init__.py. So this works only on Python 3 versions.

Installing azure-nspkg will solve the problem, but I am not sure of any other implications of adding it as a dependency.

@lmazuel are there any other things I need to care about if I decide to

[2018-08-28 16:37] lmazuel commented on #236
@akharit This should be the case already. We used a patch `wheel` runtime to inject this dependency, and I see azure-nspkg in the configuration:
https://github.com/Azure/azure-data-lake-store-python/blob/master/setup.cfg#L3

So I'm not sure what is exactly happening here, give me a moment to unzip your wheel and see what metadata. Maybe your build env is too old for that patch.

[2018-08-28 17:42] lmazuel commented on #236
@akharit If I git clone the repo and build the wheel myself, it works as expected:
[code]

So my guess is that your build system is too old. Could you tell me how you build the wheels you upload on PyPI? Python version? wheel/setuptools/pip version?
I don't know exactly *when* it's too old, since I didn't try to downgrade wheel/setuptools/pip until it's broken. Ideally, we do that and we can add a

[2018-08-28 18:47] akharit commented on #236
@lmazuel
The wheel is built using travis(https://travis-ci.org/Azure/azure-data-lake-store-python).

Based on the last build logs (https://travis-ci.org/Azure/azure-data-lake-store-python/jobs/419414178)

* python 3.6.3
* pip 18.0
* setuptools 40.2.0
* wheel 0.31.1

So the versions seem to be up to date. It is quite strange. When I look at the travis log for the last build that deployed, I can see

[2018-08-28 18:55] VincentBLortie commented on #236
@akharit If it can help, my understanding is that __init__.py is removed at that line in azure_bdist_wheel.py because it is meant to be provided by azure-nspkg, which should be added as a requirement as a result of lines 35-36:
[code]

[2018-08-28 22:09] VincentBLortie commented on #236
I ran `python setup.py bdist_wheel -d ../wheel` locally using a conda environment identical to what you say travis is using, except for the python version (I used 3.6.6 rather than 3.6.3).

The diff between my whl's METADATA and what is on PyPi is telling:
[code]

[2018-08-28 22:27] akharit commented on #236
@VincentBLortie Thanks. I think I have figured out why it is different. It seems that the order of distributions parameter in .travis.yml is important.

.travis.yml: line 39  ``` distributions: "sdist bdist_wheel" ```

Running  ```python setup.py sdist bdist_wheel``` i.e as it is run currently in pypi module yields a wheel file without azure-nspkg dependency, while running ```python setup.py bdist

[2018-08-28 22:32] VincentBLortie commented on #236
Yup, I get the same result:
[code]

[2018-08-28 23:00] akharit commented on #236
@VincentBLortie  I have created a pr with the 'fix'.

I'll wait for a code review, since I don't really know the real reason why this is occurring. I think I'll be able to push a new release by tomorrow morning or tonight, if there is no other regression.

Thanks for raising the issue and also for the other code you worked on using adls!

[2018-08-28 23:04] VincentBLortie commented on #236
Awesome, thanks a lot! If you find out why the order matters, I'd love to know.

[2018-08-28 23:32] lmazuel commented on #236
Setuptools is based on buildstep, which technically could be re-used by further build to save some processing time (like Maven for Java or Makefile for C).
For this to work, this assumes that all the plugin you use respect each build step as a black box. This is not always the case unfortunately, and there is issues opened about this, which has various consequences difficult to predict. Example:
h

[2018-08-29 15:33] #236 closed

[2018-09-04 16:42] dcieslak19973 opened #238 "Support for PyArrow"
### Description
**Outline the issue here:**
PyArrow supports HDFS and S3. Would be nice if ADL (and ADL Gen 2) were supported as well.
---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

The ADLFS class cannot be passed in to the PyArrow Parquest DataSet class.

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake

[2018-09-07 17:10] akharit opened #239 "ls needs batching for folders with large number of files"
### Description
**Outline the issue here:**
ls for very large folders fails due to timeout errors.

---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

adl.ls('Folder With Large number of files')

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
0.0.30

**Python Version:** What Python version are you us

[2018-09-10 22:49] akharit commented on #225
Closing. Test recordings are useful as they contain more information than travis results.

[2018-09-10 22:49] #225 closed

[2018-09-11 20:39] #239 closed

[2018-09-12 16:44] akharit commented on #232
@kasuteru Is there anything apart from readinto() that needs to be implemented? I do see some other functions that are not implemented for AzureDLFile class, that are mentioned for python iobase. Can you provide some example code or library that you can't use right now?

[2018-09-12 16:49] akharit commented on #238
@dcieslak19973 Can you please provide some stub code to reproduce the issue?

[2018-09-12 16:57] akharit commented on #188
Looking at the code, it seems the issue is that for class ADLTransferClient, we are passing it a parent parameter, which is used to access the parent fields overwrite and save.

The proposal is to remove the import of parent, and instead pass overwrite as a parameter to transfer() function, and pass save() function as another parameter.

I am checking what code, if any this will break, and if ther

[2018-09-12 19:48] akharit commented on #235
Root cause is due to test case, and not the sdk. The test case has the file path
`    fn = '/tmp/test/a'`

set as a fixed constant, which in the root folder, and does not use a relative path to randomly generated `test_dir` variable.
When running on travis for multiple versions simultaneously, a possible race condition develops where the file may be deleted by the same test case running for anothe

[2018-09-17 20:38] yshahin opened #242 "AzureDLFileSystem does not follow PythonFilesystem Interface"
### Description
**Outline the issue here:**
Working with [Bonobo](http://docs.bonobo-project.org) lib I am unable to utilize the library cause it doesn't conform the PythonFilesystem Interface.
Current problem facing is "open() got an unexpected keyword argument 'encoding'"
---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**
Use AzureDLFileSystem instance as a bonobo

[2018-09-17 20:48] akharit commented on #242
@yshahin Thanks for pointing the issue!

Can you please provide some stub code that reproduces the error?

[2018-09-17 20:48] akharit commented on #242
This might be related to #238 and #232.

[2018-09-17 21:50] yshahin commented on #242
Yes they are related

[2018-09-24 16:46] akharit commented on #229
Closing as this is not on the road map for now.

[2018-09-24 16:46] #229 closed

[2018-10-05 18:46] akharit commented on #235
Fixed.

[2018-10-05 18:46] #235 closed

[2018-10-05 18:46] akharit commented on #230
Fixed.

[2018-10-05 18:46] #230 closed

[2018-10-12 10:30] solita-tvoipio opened #245 "Merging files after chunked upload with + in the filename fails"
### Description
**Outline the issue here:**

Chunk upload to DLS fails if the chunk names contain the `+` character. Possibly (likely) other characters may be affected too.

Initially the issue was discovered when azure CLI (running on Linux) failed to upload large files with `+` in their remote names, while smaller files with the same name succeeded.

According to initial analysis, the issue occu

[2018-10-12 11:49] solita-tvoipio commented on #245
[requirements.txt](https://github.com/Azure/azure-data-lake-store-python/files/2472905/requirements.txt)

[2018-10-12 11:56] solita-tvoipio commented on #245
[dls-plus-upload-fail.zip](https://github.com/Azure/azure-data-lake-store-python/files/2472915/dls-plus-upload-fail.zip)

Insert credentials, account name etc to *.tpl files at the indicated places.

[2018-10-15 18:01] akharit commented on #245
Thanks for raising the issue.
C# sdk uses json requests to fix this. I am working on adding support for that to python sdk.

[2018-10-16 23:03] akharit commented on #245
Fixed from release 0.0.34 onwards.

[2018-10-16 23:03] #245 closed

[2018-10-16 23:03] akharit commented on #232
Fixed from release 0.0.34 onward.

[2018-10-16 23:03] #232 closed

[2018-10-29 23:33] akharit opened #252 "Concat should not retry"
### Description
**Outline the issue here:**

Concat and append are not idempotent and should not be retried.
---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here: 0.0.34

**Python Version:** What Python version are you using? Is it 64-bit or 32

[2018-11-02 19:32] akharit commented on #242
Closing as it requires text mode support i.e encoding, while adls only provides binary support.

[2018-11-02 19:32] #242 closed

[2018-11-02 20:36] isobit opened #255 "Problems authenticating with token from get_azure_cli_credentials"
### Description

Passing a token retrieved from `azure.common.credentials.get_azure_cli_credentials` to `AzureDLFileSystem` results in an exception:

[code]

---

### Reproduction Steps

First, log in with `az login`.

[code]

### Environment summary

**SDK Version:** 0.0.36

**Python Version:** 2.7

**OS Version:** CentOS 7

**Shell Type:** Bash

[2018-11-06 00:35] akharit commented on #255
Should be fixed in 0.0.37

[2018-11-06 00:35] #255 closed

[2018-11-06 00:35] akharit commented on #238
Needs 3rd party changes

[2018-11-06 00:35] #238 closed

[2018-11-06 22:57] isobit commented on #255
I can confirm the issue is fixed (for me, at least). Thanks!

[2018-11-20 02:16] akharit opened #263 "Documentation needs update"
### Description
**Outline the issue here:**
Docstring documentation is not complete for all public functions.
---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:

**Python Version:** What Python version are you using? Is it 64-bit or 32-bit?

[2018-11-20 02:19] akharit opened #264 "Number of threads shouldn't be tied to core count."
### Description
**Outline the issue here:**
Since Python threads don't use separate cores i.e run within the same process, core count is not a good method of deciding number of threads for ADLDownloader and Uploader.

---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-d

[2018-12-11 13:19] TVMKISHORE commented on #66
Hello All ,
I am getting the below while writing file to storage location . Is it the same you guys are discussing here.

org.apache.spark.SparkException: Task failed while writing rows
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.org$apache$spark$sql$execution$datasources$FileFormatWriter$$executeTask(FileFormatWriter.scala:270)
	at org.apache.spark.sql.execution.datasources.F

[2018-12-17 14:26] epa095 opened #265 "Head (or similar) should support a timeout value"
### Description
We have an issue where at least one file on our datalake is broken. In the portal it has a size, but preview does not work, and "downloading" it results in an empty file.

The problem is that when trying to download it (using `open`) with this library the result is that python just hangs with 100% CPU. Using info/ls/stat etc gives valid information, so there is no way of discoverin

[2018-12-18 21:07] akharit commented on #66
@TVMKISHORE This issue seems to be related to the java sdk, rather than python sdk. This issue page is for the python sdk.
Can you open an issue there(https://github.com/Azure/azure-data-lake-store-java)?

Also, please add the account name and time of the error(preferably as recent as possible), and the sdk version so we can investigate this error.

[2018-12-18 22:39] akharit commented on #265
@epa095
Can you elaborate on what you mean when you say that "one file on our datalake is broken". In particular, it would be helpful if I can get the following info.

    adl = ADLS_INSTANCE
    print(adl.info(path_to_corrupted_file))

Can you also mention the adls account name, file path, and approximate time(with time zone) when you run the info and open operations? This will allow me to look a

[2018-12-19 14:30] epa095 commented on #265
Good work, I think you are on to the reason here. Especially since downloading the file from the portal results in an empty file.

With regards to the file/account I am for corporate secret reasons not allowed to put any such information here on the open internet. I can say that the files in question become available again after some time, and it is quite unpredictable when it happens.

I will fil

[2018-12-19 20:34] akharit commented on #265
I asked my colleagues, and there is an issue related to length i.e. size of the file not being synced up for some time after concurrent appends. I'll add a fix for that as soon as possible. If this is the same issue, a call to open does cause a sync up. You can try the following as a temporary mitigation.

    from azure.datalake.store import core
    adl = ADLS_INSTANCE
    core._fetch_range_with

[2018-12-19 22:37] akharit commented on #265
So there are two separate issues here. One is from the sdk side, which hangs. I can break the loop on the condition of len(data_read) == 0 to fix that, but that won't solve the underlying issue of why the file is not getting the correct size.

I am not sure I can do anything for that on the sdk layer. The root cause I thought should have been solved by sending an 'OPEN' operation on the file path,

[2018-12-20 20:35] ankitkumarr opened #266 "azure/__init__.py causing issues with importing other azure components"
### Description

Installing `azure-data-lake-store` includes `azure/__init__.py`  with these line
[code]
`declare_namespace` does not seem compatible with PEP420 style implicit namespace.
So, if I have

PathA/
     ---azure/
     ------\_\_init\_\_.py (with declare_namespace)
     ------datalake/
     -----------....

PathB/
     ---azure/
     ------<some_azure_module>/
     -----------....

wher

[2018-12-21 14:53] Fred-Hoffman opened #267 "open gzip files"
### Description
**Outline the issue here:**

---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:

**Python Version:** What Python version are you using? Is it 64-bit or 32-bit?
Answer here:

**OS Version:** What OS and version are you using?

[2018-12-21 15:06] #267 closed

[2018-12-26 19:04] akharit commented on #266
There is a implicit dependency on azure-nspkg which is used during the build stage for bdist_wheel. More details are in the file azure_bdist_wheel.py . How are you installing the package so that this problem arises?

I'll change to the extend_path after checking compatibility with Python 2.7

[2019-01-02 18:31] lmazuel commented on #266
I created a placeholder for the doc I need to write:
https://github.com/Azure/azure-sdk-for-python/wiki/Azure-packaging

[2019-01-02 21:02] ankitkumarr commented on #266
Thank you @lmazuel and @akharit for looking into this! @akharit, this was an issue I was seeing while working on Azure functions for Python. The reason for `azure` packages in different paths were because there were some `azure` dependencies pre-installed in the server and some being brought in by the users. I think the specifics may not be very relevant here.
Thanks once again!

[2019-01-03 19:39] akharit commented on #252
On further discussion it is only concat that shouldn't retry, as append can error out if tried twice on the same offset, and we are checking for it.

[2019-01-05 00:00] akharit commented on #264
On discussion, it seems ThreadPoolExecutor by default is also using number based on cpu count

max_workers = (os.cpu_count() or 1) * 5

[2019-01-05 00:00] #264 closed

[2019-01-07 18:54] djtrumbe opened #269 "multithread.ADLUploader hangs indefinitely"
### Description

multithread.ADLUploader hanging when uploading many (~40) files simultaneously.

Some background:

 - We are processing many json files into tabular, parquet files.
 - This processing is done using ~40 worker threads, each thread processing a single file before grabbing another file off of the queue.
 - Each thread, pulls down the json file locally, iterates over the lines in the

[2019-01-07 19:50] akharit commented on #269
@djtrumbe

Just to confirm, when you say hang, does the execution continues till os.remove(temp_file) and there is a background thread in multithread.uploader that prevents the python process from exiting. Or does the python process not execute the os.remove(temp_file)? Also, is it consuming 100% CPU(so infinitte loop somewhere) or just idling(waiting for io). What is the way of generating adl_fil

[2019-01-07 21:02] djtrumbe commented on #269
@akharit The execution never gets to deleting the file and so it's hanging somewhere in the ADLUploader call.

On your CPU question, we believe the thread goes idle.  However, we are not 100% sure on this.  We are trying to reproduce this again now and will report back if we can get back into this state.

On the file naming question, we are using a unique filename for each of the files we are writ

[2019-01-07 21:30] akharit commented on #269
@djtrumbe Thanks. That is helpful for me to investigate.

Regarding logging. I'll also add this to the docs as well so people can use it easily.

[code]

Just fyi, this will produce a decent amount of output

Can you also mention my handle akharit to Microsoft account rep so it can be transferred easily to me on the backend side?

Regarding threading, the module uses threadpoolExecutor so it doesn

[2019-01-09 20:54] #266 closed

[2019-01-09 21:07] akharit commented on #265
I have added a break when the data_read has lenth 0 in the new version, so infinite loop won't happen. However I am keeping this open till the underlying issue i.e why the file metadata is not correct is fixed.

[2019-01-20 23:29] nandishjpatel opened #271 "Save, load and run a transfer if a transfer is interrupted e.g., by user action, the transfer can be restarted at another time."
ADLUploader.save() or ADLDowloader.save() does not save a copy on a transfer process under ~/.config/azure-datalake-store
---

- A issue in azure.datalake.store.multithread.ADLUploader or ADLDownloader
https://docs.microsoft.com/en-us/python/api/azurehttps://docs.microsoft.com/en-us/python/api/azure-datalake-store/azure.datalake.store.multithread.adluploader?view=azure-python-datalake-store/azure.

[2019-01-28 20:57] djtrumbe commented on #269
Hi @akharit - Apologies for the delayed response.  We have been trying to reproduce the issue while continuing to add debug information to get to the bottom of where this is hanging.  We now have very specific information on what's going on.

My colleague has helped to produce a stack trace within the running, but hung software (below).  This was generated from the "multiprocessing" thread that wa

[2019-01-28 21:14] akharit commented on #269
@djtrumbe Thanks for reaching back.

Just to confirm, as I see from the stack trace the bug is when we are reading i.e downloading a file from adls, and not when uploading a file?

Is this reproducible from a single thread for that particular file? Or does it only happen when you are trying it using multitthreading?

As I mentioned before, it would be very helpful for me if I can get adls specific

[2019-01-28 22:31] djtrumbe commented on #269
Hi @akharit

I'm not 100% sure that it only happens on reads.  However, the situation we caught was definitely around reading / downloading.  Now that we have a better workflow for pulling this information and we are causing these hangs in the processing we are looking to do anyway, we should be able to validate this the next time it happens (possibly even tomorrow).

We have another process that

[2019-01-30 09:50] macoun opened #272 "Missing azure/__init__.py in wheel causes import errors"
Hi,

maybe I'm missing something here. So, my apologies if this issue makes no sense. The problem is that the umbrella package `azure` (I guess this is an umbrella package) is not recognised without an appropriate `__init__.py` file.

This is what I get

[code]

I checked the release package and couldn't find `azure/__init__.py`. I'm not sure if this is an intended behaviour.

[code]
---

### Repr

[2019-01-30 19:25] #265 closed, assigned to nobody

[2019-01-30 19:54] macoun commented on #272
azure-nspkg is also installed but they both are installed in separate folders within site-packages.

[2019-01-30 19:57] akharit commented on #272
Can you mention the path structure for azure-nspkg and azure-datalake-store package in site-packages? What folder is azure-nspkg installed in?

[2019-01-31 08:38] macoun commented on #272
Sorry for the delay. Here is an output of `ls` in site-packages.

[code]

[2019-01-31 23:52] akharit commented on #272
I tried the steps, though on a windows system, and I do see an azure, datalake, and store folders having the ```__init__.py``` file.

[code]
This just means that we don't have a main module for datalake store package.
Running a python shell and
```import azure.datalake.store ```
works for me.

Can I get the conda version installed?

Also, if possible can you list the contents of azure directory un

[2019-01-31 23:55] akharit commented on #272
Also, can you please verify that pip install azure-datalake-store==0.0.39 is working?

[2019-02-04 10:12] macoun commented on #272
It works on my macOS, too. I can confirm that it works for Windows as well. Installing 0.0.39 works like a charm on my Mac. However, even 0.0.39 is missing __init__.py on RedHat 7.

[2019-02-04 19:52] akharit commented on #272
@lmazuel Any idea what is going on here? This seems like an azure-nspkg issue rather than adls issue since azure-nspkg does get installed, but doesn't create the init file. I am not sure why it is happening only on red hat though.

[2019-02-04 19:53] akharit commented on #269
Closing. Have add a break on zero byte reads, though it is a server error, rather than python module error.

[2019-02-04 19:54] akharit commented on #269
Wrongly closed. Still not sure on root cause. But have added some possible mitigations like moving check_token to retry and exposing timeout for uploader/downloader

[2019-02-06 00:43] lmazuel commented on #272
So to summarize if I get it correctly:
- @akharit you cannot reproduce it on recent conda
- @macoun on your **_conda version_** 0.0.40 is broken, but 0.0.39 doesn't

I see in your logs @macoun that for some reason pip installed datalake as eggs, which is highly deprecated (and likely the root cause of the issue). Could you give the version of pip installed?

[2019-02-15 21:20] djtrumbe commented on #269
Hi @akharit

Per our offline discussions, we believe this was a routing issue on our side, fixed by a UDR.  Since adding a UDR for this, we have not seen this issue recur.  Feel free to close out this issue now.

Thanks again for all of your help here!

[2019-02-19 09:08] toshetah commented on #272
I would try to uninstall and reinstall azure-nspkg.
@macoun, did you try that?

[2019-02-26 08:43] nicolas-doby opened #274 "Do not force the log level to DEBUG"
### Description
**Outline the issue here:**
When modifying the ACL entries on a path the following logs are displayed:
[code]

Debug logs should only be displayed on demand; not forced.

---

### Reproduction Steps
**Enumerate the steps to reproduce the issue here:**
Call this method:
`auth.adls_file_system_client.modify_acl_entries(path, acl_spec, recursive=True)`

In multuprocessor.py, the log l

[2019-02-26 18:38] #269 closed

[2019-02-26 18:39] akharit commented on #274
Agreed. Will fix it and release a new version

[2019-02-26 18:58] akharit commented on #271
Is this a regression in a recent version? As far as I can figure out, on the code sample, the exception is raised in the method while it is running so save() is never actually called. So there is no file for load() method which results in it returning empty dictionary.
[code]
should save the transfer process.

I am not sure I understood the following
* Using run() without an argument as ADLUploade

[2019-02-28 00:00] #263 closed

[2019-02-28 19:11] akharit commented on #274
Fixed in 0.0.42

[2019-02-28 19:11] #274 closed

[2019-02-28 19:12] akharit commented on #272
@macoun  Has this been resolved?

[2019-03-11 23:56] akharit commented on #271
Closing.

[2019-03-11 23:56] #271 closed

[2019-03-11 23:56] akharit commented on #272
Closing.

[2019-03-11 23:56] #272 closed

[2019-05-14 16:03] holger-tr opened #285 "ADLS Gen2 support"
We are using this library to interact with ADLS Gen1. We would like to upgrade to ADLS Gen2. Will this library support this?

[2019-05-27 13:34] robertfjones opened #286 "azure-datalake-store auth.lib() with proxy not working"
### Description

I am using the lib.auth for authenticating for a service to service connection, I can get this to work from my home connection but as soon as I am behind a corporate proxy it does not work. I have read this uses the Requests library but I can confirm the proxy settings don't seem to be used when applied.

[code]

Separately, for completeness, when authenticating using the the adal

[2019-05-27 14:12] #286 closed

[2019-06-07 07:20] skadyan opened #287 "Specify Read/Connect Timeout in AzureDLFileSystem"
### Description
It appears that there is no option of specifying the read/write timeout . Due to some network glitches, call to API like AzureDLFileSystem#open() or AzureDLFileSystem#ls() never return. Also infinite timeout (which seems default underlying in requests library), retry logic also not getting kicked in.
As a result , our application script get hangs.

Do we have any way to specify rea

[2019-06-07 21:00] A9NAHZZ opened #288 "None type has no status code"
### Description
Trying to acquire a token, instead got the below error
[code]

---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary
`tok = lib.auth(t, u, p)`
where t, u, p are just strings

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:
Version: 0.0.45

**Python Version:** What Python versi

[2019-06-10 04:18] sachinsbigdata commented on #285
ADLS Gen1 cannot and will not be used to access ADLS Gen2 enabled Storage accounts.

For the latest on SDKs that can be used for ADLS Gen2 access please refer to this link - https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues .

[2019-06-10 04:25] sachinsbigdata commented on #287
Hi,

We have not heard of this issue wiht other customers. Can you please clarify how often you are seeing this? Also can you share where your application script is running? Is your application running in an Azure region different from where ADLS Gen1 account is?

Thanks.

[2019-06-10 18:52] pragatishah opened #289 "AzureDLFileSystem does not implement cp(path1, path2) method"
### Description
**Outline the issue here:**
The cp method for core.AzureDLFileSystem  is not implemented. The source code for the method reveals the function is empty and raises an exception.

cp is mentioned in the documentation here: https://docs.microsoft.com/en-us/python/api/azure-datalake-store/azure.datalake.store.core.azuredlfilesystem?view=azure-python

---

### Reproduction Steps
** Enume

[2019-06-10 18:55] akharit commented on #288
This is a bug and I would fix it in the next release. I'll add a check for none for response.

 However, just to confirm, I am assuming this wouldn't happen very frequently as I response wouldn't be none usually.

[2019-06-10 18:57] akharit commented on #289
There is no efficient way of implementing cp. I'll change the documentation. I am hesitant to remove it as even though it is basically an empty method, someone may have taken a dependency on cp being present.

[2019-06-10 21:46] prashanthmadi opened #290 "cffi library '_openssl' has no function, constant or global variable named 'CRYPTOGRAPHY_PACKAGE_VERSION'"
### Description
from azure.datalake.store import core, lib

returns below error

AttributeError: cffi library '_openssl' has no function, constant or global variable named 'CRYPTOGRAPHY_PACKAGE_VERSION'

---

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here: 0.0.45

**Python Version:** What Python version are you using? I

[2019-06-10 21:50] akharit commented on #290
Can you mention the environment(OS version etc.) and how you installed this module? This seems to be due to a version mismatch in openssl.  Reinstalling cryptography module may solve this problem.

[2019-06-10 21:58] prashanthmadi commented on #290
This is in databricks cluster.. i remember before installing this module cyrptography was at 1.5.0 .. and now its 2.7(azure-data-lake-store version) so its definitely got re-installed

[2019-06-10 22:01] prashanthmadi commented on #290
tried re-installing.. still the same issue

[code]

[2019-06-10 22:02] prashanthmadi commented on #290
pip list output
[code]

[2019-06-10 22:03] prashanthmadi commented on #290
![image](https://user-images.githubusercontent.com/1486808/59229974-9e19d780-8ba1-11e9-876e-b584ef09b71c.png)

[2019-06-10 22:03] prashanthmadi commented on #290
i have installed modules listed in above screenshot on top of default python modules that come with databricks

[2019-06-11 00:58] prashanthmadi commented on #290
tried upgrading openssl and also pyopenssl but still the same issue

dbutils.fs.put("/databricks/init/openssl_rfix.sh","""
#!/bin/bash
wget https://www.openssl.org/source/openssl-1.1.1c.tar.gz
tar xzvf openssl-1.1.1c.tar.gz
cd openssl-1.1.1c
./config
make
sudo make install
mv /usr/bin/openssl /root/
ln -s /usr/local/ssl/bin/openssl /usr/bin/openssl
echo "/usr/local/lib64" > /etc/ld.so.conf.d/opens

[2019-06-11 14:55] prashanthmadi commented on #290
going through cryptography library.. seems like that variable was added in feb

https://github.com/pyca/cryptography/commit/5cfaa5b79d446e1c63de3948e7558cd00561ea1f#diff-18476708f00cc8a586a90764c0339fab

will use that module published older than feb to see if it works

[2019-06-17 20:50] prashanthmadi commented on #290
downgrading cryptography to 1.9 resolved the issue
[code]

[2019-06-17 20:50] #290 closed

[2019-06-19 20:14] dcieslak19973 commented on #287
I am a different customer and we began observing the same behavior described by @skadyan around the same time (roughly 2 weeks ago now).

Relevant info:
Python 3.6.5
azure-datalake-store==0.0.45
OS: CentOS 7

Issue is that we're getting stuck on AzureDLFileSystem.open()

We've raised a support ticket with Microsoft as of yesterday as we were unable to mitigate the problem on our own. We have worke

[2019-06-19 20:28] akharit commented on #287
@dcieslak19973 timeout in download/upload is needed since they are operations that do take a long time to complete. open() should be a very short operation and ideally not need timeout. Hanging here suggests that there is some other root cause. Can you enable logging and get back to me with that?

    import logging
    adls_logger = logging.getLogger('azure.datalake.store')
    adls_logger.addHan

[2019-06-20 15:30] dcieslak19973 commented on #287
Yes, we have been running 0.0.45 and experiencing this issue. We have changed our logging and will post a sample when the error re-occurs.

Are there any current (as of 20-JUN-2019) problems with the Azure Data Lake service itself?

[2019-06-20 20:23] akharit commented on #287
The original issue has been filed on 0.0.22 so I am not sure if this is caused by my changes in 0.0.44 to 0.0.45, but I am still looking.

None that I know of.

Can you mention here, or in the support ticket some samples of file name, and approximate time when the request failed? Is it only for particular files or random?

To unblock yourself, you can use something like https://github.com/kata198/

[2019-06-25 19:45] akharit commented on #285
Closing this as not supported.

[2019-06-25 19:45] #285 closed

[2019-06-28 03:24] #289 closed

[2019-06-28 03:24] #288 closed

[2019-06-28 03:26] akharit commented on #287
Add per request retry. Quite a few calls do make more than one request(like ls), so this can't be used as an explicit timeout for each api, but should stop the problem of requests library causing an infinite loop waiting for data. Closing.

[2019-06-28 03:26] #287 closed

[2019-06-28 03:26] #252 closed

[2019-07-02 20:48] hpbrewton opened #293 "Low information error given when passed wrong password"
### Description
When trying to access a datalake I got an attribute error though the problem turned about to be an incorrect password.

---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**
[code]
### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here: 0.0.46

**Python Version:** What Python version

[2019-07-18 19:15] akharit opened #294 "Documentation needs to be in markdown format"
### Description
**Outline the issue here:**

---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:

**Python Version:** What Python version are you using? Is it 64-bit or 32-bit?
Answer here:

**OS Version:** What OS and version are you using?

[2019-07-18 19:16] akharit opened #295 "Scrub logs"
### Description
**Outline the issue here:**

---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:

**Python Version:** What Python version are you using? Is it 64-bit or 32-bit?
Answer here:

**OS Version:** What OS and version are you using?

[2019-08-11 17:18] glenfant opened #296 "[Question] How to get "pythonic" access / last modified timestamps ?"
### Description

I can't find how I can make pythonic values, suitable to the "time" or "datetime"  packages, with the "accessTime" and "modificationTime" keys of the object returned by the "info(...)" method of a "AzureDLFileSystem" instance.

---

### Reproduction Steps

[code]
In Python, we can play with "time.time()" that give the number of seconds since epoch (float) that can be converted to

[2019-08-12 13:58] epa095 commented on #296
Those timestams are in milliseconds instead of seconds. One way to handle them is as follows:
[code]

[2019-08-12 15:08] glenfant commented on #296
@epa095 Many thanks for this fast answer !

[2019-08-12 15:08] #296 closed

[2019-08-14 23:01] akharit commented on #293
@hpbrewton
Thanks for raising this.

What response are you currently seeing? The error is based on the python adal module, so I can forward the request there.

[2019-08-14 23:03] akharit commented on #78
Closing this as it is based on old code base and I think we have the correct test coverage.

[2019-08-14 23:03] #78 closed

[2019-08-15 01:36] akharit commented on #293
BTW, I am getting the following exception
adal.adal_error.AdalError: Get Token request returned http error: 400 and server response: {"error":"invalid_grant","error_description":"AADSTS50126: Invalid username or password .........

[2019-08-21 16:14] skadyan commented on #287
@akharit thanks for fix. In order to specify connect and read timeout respecively, can we specify a tuple (float, float) value for newly introduced parameter `per_call_timeout_seconds`? I believe it should work, as this value is being passed to [underlying HTTPAdapter](https://github.com/psf/requests/blob/b6b90f4d9bd447c8ae41cd31d75547fdafc25159/requests/adapters.py#L67). Probably worth to mention

[2019-08-21 17:25] #295 closed

[2019-08-21 17:25] #294 closed

[2019-09-16 15:43] AkshayTharval opened #299 "ValueError: Token cannot be auto-refreshed."
### Description
**Outline the issue here:**
I am running a script which gets data from ADL and performs some calculations on local. I am able to run the script for 2 hours before it fails with the following error:
ValueError: Token cannot be auto-refreshed.
---

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**
from azure.datalake.store import core, lib, multithread

tok

[2019-10-02 00:59] karthiksubramanians opened #300 "Can files be filtered based on Last Modified time?"
### Description
**Outline the issue here:**

I am trying to perform in-memory operations on files stored in azure datalake. I am unable to find documentation regarding using a matching pattern without using the ADL Downloader.

For a single file, this is the code I use
[code]

But how do we filter based on filename (string matching) or based on last modified date.

When I used U-SQL , I had the op

[2019-10-03 15:08] Gaurang033 opened #301 "Not able to get the ADLS File System Object - Throws exception"
### Description
When I try to create the `core.AzureDLFileSystem` Object I am getting following exception.

[code]

### Reproduction Steps

tannent_id, username and password has changed.

[code]

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:
Name: azure-datalake-store
Version: 0.0.47
Summary: Azure Data Lake Store Fil

[2019-10-03 23:56] Gaurang033 opened #302 "Not able to set the ACL - set_acl throws stacktrace"
### Description
I am able to list the ACL on given folder without any issue. However when I am trying to set the permission on any folder. it shows me error. If I try to set `recursive=True` it just hangs.
I am not sure if I am providing the `acl_spec` correct or not.
I have tried so far following specs.

- `acl_spec = "user:Gaurang.Shah@mosaic.com:rwx"`
- `acl_spec = "user:Gaurang.Shah@mosaic.com

[2019-10-11 12:31] karthiksubramanians commented on #300
Any updates on this?

[2019-10-18 22:31] akharit commented on #300
We do return last modified time for ls command with detail=True.

Does that work for you?

[2019-10-18 22:39] karthiksubramanians commented on #300
Could it be used to filter for files modified in a specific period. I can see the file modified time is ls but can it be used in a query like "files from last 4 hours" (like in the U-SQL functionality) ?

[2019-10-18 22:40] akharit commented on #302
Please use guid for the username Gaurang.Shah@mosaic.com in the aclspec

[2019-10-18 22:57] akharit commented on #300
There isn't any in build functionality in the adls sdk itself as there is no server side api that will return only files modified with the last 4 hours.
It should be easy to write the code to do that after you get the list of all entries.

The modification time field returns milliseconds since unix epoch, which you can convert to a python datetime object by

          from datetime import datetime

[2019-10-18 23:09] akharit commented on #299
The relevant code line is
        if self.token.get('refresh', False) is False and (not self.token.get('secret') or not self.token.get('client')):
            raise ValueError("Token cannot be auto-refreshed.")

You can check what fields your token has by

       cred = lib.auth()
       for (k,v) in cred.token.items():
             print(k, v)

If refresh field is false, we can't refresh token.

[2019-10-18 23:47] karthiksubramanians commented on #300
This works well for the requirement! Thanks for the response!

[2019-10-18 23:47] #300 closed

[2019-10-18 23:48] akharit commented on #293
Closing as no response. Please reactivate if needed.

[2019-10-18 23:48] #293 closed

[2019-11-01 12:58] jamesclarke opened #305 "Readme.md contains an unresolved merge conflict"
[Readme.md](https://github.com/Azure/azure-data-lake-store-python/blob/ef82296ba2c00b3d702d4ed33309d3813eec2516/Readme.md#api) contains an unresolved merge conflict introduced in ef82296ba2c00b3d702d4ed33309d3813eec2516.

[2019-11-13 06:36] xiafu-msft opened #306 "[Question]is this ADLS Gen1 package?"
Hi azure-data-lake-storage-python team!
I just want to know if this is ADLS Gen1 package... Due to the broken links across this page https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-data-operations-python#next-steps I don't know where to find ADLS Gen1 doc for python sdk.
Your confirmation will be really appreciated!

It could be very nice that you could also comment on the e

[2019-11-15 00:39] xiafu-msft commented on #306
We got confirmation in person that this is the correct package for ADLS Gen1.

[2020-01-13 16:18] erlisb commented on #217
Hi @lmazuel ,

I am trying to use azure.datalake.store.lib.auth() to authenticate to AzureDLFileSystem and do some file operations there. I am behind corporate firewall so I need to use some proxy in the auth() method, but for some reasons, I am not able to..
HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /XXXXXXXXXXXXXXXXXXXXXX/oauth2/token

Is the

[2020-01-14 13:40] gregroberts commented on #305
+1

If the author can't git properly, why should we rely on them for anything else?

[2020-01-14 20:45] akharit commented on #305
Sorry. Missed the first email on this.

[2020-01-14 20:45] #306 closed

[2020-01-14 20:46] akharit commented on #188
Closing this as not needed, unless the sdk needs refactoring.

[2020-01-14 20:46] #188 closed

[2020-01-14 20:47] akharit commented on #299
Closing as this is probably an issue with AAD

[2020-01-14 20:47] #299 closed

[2020-01-14 20:49] akharit commented on #302
@Gaurang033 Did that fix the error? I'll close this if there isn't any issue

[2020-01-14 21:47] akharit opened #308 "Logging doesn't work on unicode characters"
### Description

See https://travis-ci.org/Azure/azure-data-lake-store-python/jobs/637094760?utm_medium=notification&utm_source=github_status

### Reproduction Steps

Create a folder with Unicode in file paths. Run list status on it with logging enabled and it will fail.
### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:
0

[2020-01-14 21:49] #305 closed

[2020-01-22 08:55] mounir-futurefacts commented on #299
@akharit

I used your suggestion for checking if the token can be auto-refreshed with
[code]
I find that the refresh and refreshToken fields actually hold a refresh token.
Considering this, could this then still be an AAD issue?

NB: the script is constantly running and makes calls to the adlsFileSystemClient every 24 hours. (it failed last night with `token cannot be auto refreshed`. Traceback in

[2020-02-21 00:41] markusweimer opened #311 "What is the relationship between this library and azure-storage-file-datalake"
I am looking for the right API to use to connect to Azure Data Lake Storage. Upon my search, I came across this library and the `azure-storage-file-datalake` which is used by the documentation found [here](https://docs.microsoft.com/en-us/samples/azure/azure-sdk-for-python/storage-datalake-samples/).

What is not clear to me is which one of those to use? Is one going to replace the other? Or do th

[2020-02-21 01:04] akharit commented on #311
@markusweimer This library is for adls gen1 while the one you have in the link is for adls gen2

[2020-02-21 01:06] markusweimer commented on #311
@akharit Thanks! This library seems to be more desirable because it also provides File-like objects. Do you know whether that is coming to `azure-storage-file-datalake`?

[2020-02-21 01:13] akharit commented on #311
@markusweimer I don't have information on that. Perhaps you can open an issue on this repo https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-file-datalake ?

[2020-02-21 01:16] markusweimer commented on #311
Thanks! I filled #312 to update the `README.md` to help with the confusion about Gen1 vs. Gen2.

[2020-02-21 01:16] #311 closed

[2020-02-21 01:21] akharit commented on #311
Thanks for the pr!

[2020-03-31 17:42] #302 closed

[2020-04-29 10:10] The-Judge opened #313 "README.rst incomplete / unclear"
### Description
**Outline the issue here:**

In the `README.rst`, the "Azure CLI progress controller" is mentioned and in the following example code imported from `cli.core.application`. But nowhere is a reference to what the "Azure CLI progress controller" is or where the code / module is to be found.
---

[2020-08-03 03:30] Juliehzl opened #314 "concate() failed with NoRetryPolicy()"
### Description
**Outline the issue here:**

---
See more in https://github.com/Azure/azure-cli/issues/14545

[code]
Customer failed in linux and I failed in Windows.

### Reproduction Steps
** Enumerate the steps to reproduce the issue here:**

### Environment summary

**SDK Version:** What version of the SDK  are you using? (pip show azure-datalake-store)
Answer here:
0.0.48
**Python Version:**

[2020-08-06 00:09] #314 closed

[2020-08-11 23:04] #308 closed

[2020-09-15 12:19] The-Judge opened #317 "Incomplete docs for required endpoints"
### Description
We are using this module to connect to Azure DataLake and manage files within our DataLake resources with a corporate firewall in between. We need a definite list of IPs/DNS endpoints that are required to use this module and authenticate using personal and service principal based authentication to permit these on the firewall.
Authentification is delegated to our corporate Delegate

[2020-09-20 18:55] jbulow commented on #301
This is still an issue. Why was it closed?

[2020-09-23 00:05] akshat-harit commented on #317
This seems to be related to adal i.e. authentication.

[2020-10-01 14:40] eduardofb commented on #299
Hi @mounir-futurefacts. I'm having the same problem when running long jobs in my development environment. Did you manage to solve it?

[2020-10-29 14:40] zjw0304 opened #319 "Performance issue of azure.datalake.store.core.AzureDLFile.write() for Cosmos"
### Description

I ran benchmark to compare the performance to upload data to Cosmos between **AzureDLFile.write()** and the write API from **native libhdfs.so**. The result show there is significant gap. To write same amount data to Cosmos, the time used by azure data lake store is **more than double** of the time HDFS used. I also checked the network throughput, with HDFS we can push it to about

[2020-11-02 06:55] icyblade commented on #301
For some reason the 1st parameter of `AzureDLFileSystem` is `token` rather than `store_name`, so `myadlsfilesystem` is passed as `token` rather than the real token variable `token`.
`adl = core.AzureDLFileSystem(store_name'myadlsfilesystem', token=token)` will fix this issue.

[2020-11-04 01:22] akshat-harit commented on #301
@jbulow  Can you provide how to reproduce this?

[2020-11-04 01:23] akshat-harit commented on #313
@The-Judge Thanks. I think that is from azure cli code. I'll add a link to the correct controller.

[2021-02-10 15:50] Alexandru11 opened #322 "Issue when reading and writing to ADLS with correct SPN credentials"
### Description
**Outline the issue here:**
Whenever I try to list contents of the folder for which I've received SPN credentials or store a file on it. I receive below output by the logger:

Request done on listing
"GET /mypath?OP=LISTSTATUS&api-version=2018-09-01&listSize=4000 HTTP/1.1" 401 None

Request done on storing
"GET /mypath/file.csv?OP=GETFILESTATUS&api-version=2018-09-01 HTTP/1.1" 401

[2021-02-11 08:25] Alexandru11 commented on #322
It seems that issue was not so complex. Just missed a '/' in the resource name.
Will close this.

[2021-02-11 08:25] #322 closed

[2021-10-08 16:02] oleksandr-yatsuk commented on #301
**adl = core.AzureDLFileSystem(store_name='myadlsfilesystem', token=token)**

_store_name_ parameter is not mentioned in the README and is super hidden in the code.

Could you, please, fix the documentation?

[2021-10-11 15:32] oleksandr-yatsuk opened #324 "Rename works only on file name"
[code]
does not work, an exception raised
`azure.datalake.store.exceptions.DatalakeRESTException: Operation failed: RENAME, folder1/some_file.txt`

It works only in the case of renaming of the file name (not folders)
[code]

[2022-10-18 18:17] microsoft-github-policy-service[bot] opened #327 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-28 19:35] #327 closed